[2017-04-24 11:57] AndersAbel commented on #692
Don't use the Kentor.AuthServices.Tests.pfx certificate in production. Create your own certificate.

There is an option SingleLogoutServiceBinding on the idp that you can use to set the logout binding without affecting sign on.

[2017-04-24 12:10] AndersAbel commented on #367
It is the same issue, yes.

I prefer to not put too many things into the IdentityProvider config, this is something that should be handled in the SPOptions. The question is if we can use the same Service Certificate that is used for signing in general or if there needs to be a special certificate usage specified for TLS client certificate. Maybe we should extend `CertificateUsage` with a `TLSClien

[2017-04-24 14:36] olavaukan commented on #700
Thanks for the help so far, but it seems like the AcsCommandResultCreated method is called too late, or maybe I'm doing something wrong here. I've manipulated the identity object and added a couple of claims, but the ExternalLoginInfo object returned by AuthenticationManager.GetExternalLoginInfoAsync() in the AccountController does not seem to reflect these changes. I'm using the following code:

[2017-04-24 15:15] MartijnKooij commented on #367
Sounds reasonable enough. ... But CertificateUse would become a bit weird IMO because it currently has a "Both" option, used for "Signing" AND "Encryption".

I could rename the option to "All" but that would be a breaking change... And still weird behavior because then you can no longer combine all posible options anymore (for example you could not choose to use Signing AND TLSClient).

As far as

[2017-04-24 15:58] seemadas123 commented on #692
I have tried configuring SingleLogoutServiceBinding in web config but it didn't work.       <SingleLogoutServiceBinding binding="HttpPost" />

Can you please guide me how the configuration should be set in web.config?

[2017-04-25 05:55] ArjunPathak commented on #695
Hi Anders,

By "It shows again SignIn options" - I mean it shows the sample MVC application's SignIn page  (index.cshtml - as below), reason being, the `User.Identity.IsAuthenticated` is false due to SSO is not initiated yet.

![signinoptions](https://cloud.githubusercontent.com/assets/8929371/25370290/8a3d3858-2981-11e7-87ef-4dc86dc224e2.png)

Here, case is - user has already logged into his Okta

[2017-04-25 11:48] AndersAbel opened #701 "XML External Entity Injection (XXE)"
This is a placeholder for work on an issue that will be disclosed at a later time.

[2017-04-25 11:49] AndersAbel opened #702 "Malicious IdP can cause write to arbitrary file"
This is a placeholder for work on an issue that will be disclosed at a later time.

[2017-04-26 00:16] GaurangPoolCar opened #703 "The signing algorithm http://www.w3.org/2001/04/xmldsig-more#rsa-sha256 is weaker than the minimum accepted"
I am having issue with following:
Exception message: The signing algorithm http://www.w3.org/2001/04/xmldsig-more#rsa-sha256 is weaker than the minimum accepted http://www.w3.org/2000/09/xmldsig#rsa-sha1.
   at Kentor.AuthServices.XmlHelpers.ValidateSignatureMethodStrength(String minIncomingSignatureAlgorithm

I read that this issue has been resolved in version 0.21, but it seems that it is not fi

[2017-04-26 00:38] explunit commented on #703
That message does seem wrong. Just curious though, what version of .Net are you running? If it is less than 4.6.2, have you called `Kentor.AuthServices.Configuration.Options.GlobalEnableSha256XmlSignatures()` on startup?

[2017-04-26 00:41] GaurangPoolCar commented on #703
Yes, I am using .net version 4.5 and called Kentor.AuthServices.Configuration.Options.GlobalEnableSha256XmlSignatures() on Application Start.

[2017-04-26 00:44] explunit commented on #703
Version v0.21.0 or v0.21.1?

[2017-04-26 00:47] GaurangPoolCar commented on #703
0.21.1

[2017-04-26 00:55] GaurangPoolCar commented on #703
This is bit wired, It is working fine for client who is using Shibboleth , but not working with NetScaler.

For NetScaler, when I move this code to Startup, I am getting RelayState related error( Netscaler  read RelayState value and use this as the location header in the 302 response it sends.)

[2017-04-26 01:09] explunit commented on #703
And both of these clients are using SHA256 as the signing algorithm?

[2017-04-26 01:12] GaurangPoolCar commented on #703
Yes, both clients are using SHA256.

[2017-04-26 03:56] GaurangPoolCar commented on #703
This issue has been resolved, there was some issue with NetScalar.

Thanks @explunit for your help regarding this.

[2017-04-26 03:56] #703 closed

[2017-04-26 17:09] osudude commented on #697
@nicswan is it possible to set the kentor.authServices configuration via code instead of via config?  We just finished gutting our ws-fed wif config and replaced it with code to make our web.config a little more manageable across our many web apps.

[2017-04-26 17:28] explunit commented on #697
Yes, configuration via code is another option. See example here: https://github.com/KentorIT/authservices/blob/v0.21.1/SampleOwinApplication/App_Start/Startup.Auth.cs#L54-L82

[2017-04-27 14:26] olavaukan commented on #700
I ended up handling this in the Authenticate method of the ApplicationClaimsAuthenticationManager and swapping the name identifier claim with a new claim using the username as the value.

[code]
I hooked up the ApplicationClaimsAuthenticationManager from the SPOptions object:

`spOptions.SystemIdentityModelIdentityConfiguration.ClaimsAuthenticationManager = new ApplicationClaimsAuthenticationManag

[2017-04-27 14:26] #700 closed

[2017-04-27 17:47] jsnb opened #704 "IDP initiated SSO Saml2p response with AttributeStatement"
I need to make an IDP initiated SAML2 SSO POST request (http://saml.xml.org/wiki/idp-initiated-single-sign-on-post-binding) which requires that I make a signed xml SAML2P response that contains an assertion with custom fields in the AttributeStatement. Is this supported with AuthServices? I am testing out creating a response in a console app and I can create a response based on the code I saw in t

[2017-04-28 15:54] inrakshworld opened #705 "Kentor not setting System.Web.HttpContext.Current.User.Identity.Name"
We are using kentor + okta. Before using kentor my website is working fine. I'm able access all the pages on website after okta login.

But after integrating kentor my System.Web.HttpContext.Current.User.Identity.Name not setting. It is always blank. Hence my Membership & Role provider is not working due to above value is blank.

Also if I get the username from claims then few pages don't load and

[2017-05-05 09:58] doormalena opened #706 "Added logging in v0.20 breaks claims configuration (null ref ex)"
The following line of code in the ACS ProcessResponse method demands the NameIdentifier claim for logging purposes. With a configuration using different claims this results in the below exception.

`options.SPOptions.Logger.WriteInformation("Successfully processed SAML response " + samlResponse.Id+ " and authenticated " + principal.FindFirst(ClaimTypes.NameIdentifier).Value);`

   at Kentor.AuthSe

[2017-05-05 13:48] AndersAbel commented on #701
Fixed by dd20593

[2017-05-05 15:34] #677 closed

[2017-05-05 15:34] #701 closed

[2017-05-05 15:34] #702 closed

[2017-05-05 15:34] #706 closed

[2017-05-05 15:39] AndersAbel commented on #706
Thanks for reporting. You sent it in just as I was working on a security patch release so I included the fix in it.

[2017-05-05 16:24] togakangaroo opened #707 "What is the discovery service?"
Maybe I'm missing something, but I'm trying to use the example app to wire up to the OneLogin identity provider. I am *very* confused what the discovery service url is supposed to be in an actual situation. Having it seems to prevent the idp from being used (it just redirects to a page that targets the kentor stub idp). Removing it *seems* to hit the idp, but the callback is called with no informa

[2017-05-05 17:30] AndersAbel commented on #707
The discovery service is an advanced concept that is only used if you load a federation metadata file with multiple identity providers listed. You shouldn't use it with a single idp.

I assume you're usint the "plain" SampleApplication that uses the http module? What callback is it that is called without info? When debugging SAML flows using the chrome SAML dev tools plugin is extremely helpful to

[2017-05-05 18:55] togakangaroo commented on #707
Thank you for responding Anders!

So I'm running `SampleOwinApplication` from this repo which I have modified to point to `onelogin`, to use my certificate, and commetned out `DiscoverServiceUrl` (see below).

I put a breakpoint into `ExternalLoginCallback` and it does get triggered when I log in. I read all headers and the body and see absolutely nothing there though...

[code]

[2017-05-05 19:02] AndersAbel commented on #707
When you hit ExternalLoginCallback the onelogin identity should be present in the `loginInfo` retreived by `await AuthenticationManager.GetExternalLoginInfoAsync()`. If not, use the browser dev tools and check that a cookie for the external identity is set when hitting ~/AuthServices/Acs (it responds with a redirect to ExternalLoginCallback).

[2017-05-05 20:17] togakangaroo commented on #707
Ok, yes, that's exactly the issue

[code]
and the SAML tab contains all my claims that I'd expect to see from OneLogin.

However the response is

[code]
with no cookies set.

As you indicated, `GetExternalLoginInfoAsync()` returns `null`. So what is the issue here?

[2017-05-05 20:24] AndersAbel commented on #707
The owin middleware writes log output indicating error. The default owin logger is enabled in the SampleOwinApp and writes to the debug window if you run in Visual Studio.

[2017-05-05 20:49] togakangaroo commented on #707
Oh!

What to do here?

[2017-05-05 20:53] AndersAbel commented on #707
The default is to require sha256. There's a config option you can set to accept sha1.

[2017-05-05 22:28] togakangaroo commented on #707
oh crap, does our identity provider *really* do only sha1? that makes me angry...

[2017-05-05 23:15] gibbygano opened #708 ""Received message contains unexpected InResponseTo...No cookie preserving the request was found...""
After resolving an issue with the client having the wrong endpoint set for us, this issue has arisen.

![image](https://cloud.githubusercontent.com/assets/9158457/25767321/2aab7ca4-31c6-11e7-968c-6398c4e26ec8.png)

Here is the original request to the client IdP for SP initiated SSO:

![image](https://cloud.githubusercontent.com/assets/9158457/25767383/bc7fc7ac-31c6-11e7-9c41-7e74f8b84b01.png)

SAM

[2017-05-06 06:26] AndersAbel commented on #708
Can you please retry the tests from a clean state? Specifically you have multiple Kentor.* cookies in your browser which typically happens during development when there are aborted login attempts. The final SAML message you've shown also still has a status message indicating an error, which you should look into first.

[2017-05-07 23:08] gibbygano commented on #708
When you speak of the error in the final message are you speaking of:
Unknown AssertionConsumerServiceURL
?

Also, when reaching out to the client they said this:

Does the above make sense?

[2017-05-08 17:47] gibbygano commented on #708
One last follow up. I was able to resolve the issues with IdP initiated by switching to the HttpModule from MVC and then REMOVING the SHA256 line in Global.asax.cs. The client is using SHA1 >.<. But SP is still not working. I did stumble across the idea that we may be dealing with a issue created by load balancing on the server farm we use. If we don't have the machine key set in IIS and web.confi

[2017-05-08 20:00] rharting opened #709 "Help with IIS"
I have built and setup the Kentor Sample Application on IIS. I am able to get into the initial page, but when I click on SignIn:
"HTTP 404. The resource you are looking for (or one of its dependencies) could have been removed, had its name changed, or is temporarily unavailable.  Please review the following URL and make sure that it is spelled correctly." The URL being /KentorSamlSample/AuthServic

[2017-05-09 07:02] doormalena opened #710 "Open redirect issue partially still applies"
Take the following URL and it's blocked since v0.20.0

However the following still leads to a redirection:

[2017-05-09 07:05] AndersAbel commented on #710
That's the issue that was fixed as #677. Have you tried v0.21.2?

And please don't report security issues on the public issue tracker but via mail.

[2017-05-09 07:15] doormalena commented on #710
Will do next time Anders.

I've just updated v0.21.1 to v0.21.2 and retested this. Issue is fixed. Thnx.

[2017-05-09 07:15] #710 closed

[2017-05-09 16:03] explunit commented on #594
I am hearing reports of this from real users (not developer scenario) since some people rarely close their browser. Over time the cookies from abandoned login redirects accumulate and cause the Request Too Long error. The concept of Session cookie seems outdated now that browser windows remain open for days or weeks.

[2017-05-09 16:04] rharting commented on #576
cngrindstaff, I am having similar issue. Did you get yours resolved? I am not using MVC, but trying to get the included SampleApplication to work with our identity provider. It seems to be close to working on my development server, which I am using IIS Express (Visual Studio 2015 debug). But when published to our DMZ server using IIS 7, I receive the 404 error when I click SignIn. I am assuming so

[2017-05-09 17:07] AndersAbel opened #711 "Reserved Issue#"
This is a dummy issue, just to reserve an issue number for a future time when a security issue is found or reported privately.

[2017-05-09 17:08] AndersAbel opened #712 "Reserved Issue#"
This is a dummy issue, just to reserve an issue number for a future time when a security issue is found or reported privately.

[2017-05-09 17:08] AndersAbel opened #713 "Reserved Issue#"
This is a dummy issue, just to reserve an issue number for a future time when a security issue is found or reported privately.

[2017-05-09 17:08] AndersAbel opened #714 "Reserved Issue#"
This is a dummy issue, just to reserve an issue number for a future time when a security issue is found or reported privately.

[2017-05-09 17:19] AndersAbel commented on #594
Ok, then we need to do something about it.

* Either we move to one single cookie name and store the relay state in the data instead. Pro: Simple solution. Con: Disables possibility to do multiple sign ons from same domain (possibly different ports).
* Or we implement a routine that removes stale AuthnRequests after a set time - might be through a normal cookie life time or still use session cooki

[2017-05-09 17:21] AndersAbel commented on #576
@rharting Might be a RAMFAR issue (RAMFAR = RunAllManagedModulesOnAllRequests setting, which probably need to be set to true to get IIS to fire the HttpModule that handles the request)

[2017-05-09 17:23] AndersAbel commented on #709
You shouldn't need to create the folders.

Try enabling the RAMMFAR setting in web.config (RAMFAR=RunAllManagedModulesForAllRequests). Without it IIS sometimes does not call the HttpModule that handles those URLs.

[2017-05-09 17:26] AndersAbel commented on #708
Yes, I mean the "Unknown AssertionConsumerServiceUrl" issue. If you still see that, then the Idp doesn't recognize the ACS URL from AuthServices, so something is wrong in the config (Download the AuthServices metadata off ~/AuthServices to get the right URL).

The info from the client makes sense, yes, from the Idp point of view they don't care about the cookies on the SP side.

If you have a load

[2017-05-09 17:38] explunit commented on #594
The second option is consistent with how IdentityServer3 works. Since AuthServices is often used with it, it's an approach that would be familiar to developer already.

But as part of this change it might be a good time to abstract the relay state persistence so that if somebody wants a different approach (e.g. database) they are free to do that. See my comments earlier in this issue.

[2017-05-09 17:38] gibbygano commented on #708
Thanks for the feedback! We are looking into the machine key solution. In regards to the Unknown ACS error, we are providing the correct ACS to them, it just looks like they didn't enter it.
From PingIdentity's website:

https://localhost:9031/sp/startSSO.ping?PartnerIdpId=PF-DEMO&RequestedAcsUrl="/a/pingidentity/acs"

The endpoint they setup does not contain the &RequestedAcsUrl=. Also it looks l

[2017-05-09 17:38] #708 closed

[2017-05-09 17:42] AndersAbel commented on #708
Can you please file a separate isse on SHA1 being broken, complete with details so that we can look into it. The code for the SHA1/256 support is somewhat complex as it needs to work both on .NET 4.5 and .NET 4.6 and get sane defaults on each of them.

[2017-05-09 17:58] gibbygano opened #715 "GlobalEnableSha256XmlSignatures() Breaks SHA1"
Just posting this here as requested:

When  **Kentor.AuthServices.Configuration.Options.GlobalEnableSha256XmlSignatures()** is added
to Global.asax, it breaks SHA1. It actually creates the same error that adding it was meant to stop, though I suppose it's actually an accurate error this time. Current solution when dealing with actual SHA1 signing certificates is to simple remove the line from Glob

[2017-05-09 18:00] AndersAbel commented on #715
What .NET Framework version are you running on when you see this?

[2017-05-09 18:08] rharting commented on #709
Thank you for your reply AndersAbel. I tried this and still have the same issue. This is what I added to web.config
`<system.webServer>
    <validation validateIntegratedModeConfiguration="false" />
    <modules runAllManagedModulesForAllRequests="true">
      <add name="SessionAuthenticationModule" type="System.IdentityModel.Services.SessionAuthenticationModule, System.IdentityModel.Services, Ver

[2017-05-09 18:10] gibbygano commented on #715
4.5

[2017-05-09 18:11] AndersAbel commented on #715
Thanks, I need to create a dev machine with 4.5 to test this myself.

[2017-05-09 18:17] AndersAbel commented on #709
Looks like some debugging is needed on a Win 2008 R2 machine. I can do that as a consultancy service, please mail me at anders.abel@kentor.se if that's interesting. Here on the free issue tracker there's only time for quick answers that doesn't require more investigation.

[2017-05-09 18:18] #709 closed

[2017-05-09 20:13] rharting commented on #709
I figured out a solution. As you have probably figured out, I am an IIS novice. But I discovered that many inherited modules in my website application in IIS were missing compared to the one that worked. No "managed" modules were not there since I was using classic app pool. So I switched to the integrated app pool on IIS and now it works. Thanks Anders, your post sent me on the right track.

[2017-05-09 20:14] explunit commented on #715
We encountered this today on .Net 4.6.1. `GlobalEnableSha256XmlSignatures()` makes AuthServices default to requiring SHA-256 unless you specify SHA1 in your configuration. So "breaks SHA1" may be too strong a description, but somewhat accurate if your existing identity providers were already using that algorithm.

Maybe the release notes for v0.20.0 should emphasize this a bit more?

[2017-05-09 20:23] gibbygano commented on #715
Yeah, I probably should of said it disables compatibility with SHA1. I think the bigger concern is that our client was SHA1 :X. I know root is trusted by identity instead of by hash, but c'mon. It's just a better idea to bump up to SHA2.

[2017-05-10 06:14] AndersAbel commented on #715
That's by design. SHA1 shouldn't be used any more as soon as SHA256 is enabled. But there is a setting for minimum trust level that can be set to still allow SHA1.

[2017-05-10 06:14] #715 closed

[2017-05-10 06:35] AndersAbel commented on #709
Thanks for reporting back on the solution so that others with the same issue can find the info.

[2017-05-10 06:51] AndersAbel commented on #367
The naming "Both, Signing, Encryption" is taken from the metadata standard, so I'd prefer to keep it for consistency. The "Both" setting being 0 is also consistent with the standard. If nothing is specified, it means both usages. Bundling the TlsClient setting into it will probably just make things more confusing. The certificates are bad as it is with people getting stuck.

What about adding a ne

[2017-05-10 06:52] AndersAbel commented on #692
@seemadas123 You need to be more specific than "it didn't work".

[2017-05-10 07:02] AndersAbel commented on #695
You need to make a roundtrip to Okta to detect if the user is already logged in there. You can do that in a hidden iframe, with setting "IsPassive=true" in the request. But that would require some code changes to AuthServices to support it. Either you can do it yourself as a pull request, or we can do it as a consultancy service. Mail me if that's interesting.

[2017-05-10 12:31] ArjunPathak commented on #695
Ok Anders, thanks for the information. I will get back to you if require this as a feature.

[2017-05-10 13:37] MartijnKooij commented on #367
I have created a PR for this: https://github.com/KentorIT/authservices/pull/716
I am fairly new to the world of git so please just tell me if I need to approach things differently.

Unfortunately the project at work will not actually be using this framework as the Dutch identity provider we required it for uses some other ehm... "odd" settings which are not compatible with AuthServices... I promis

[2017-05-10 15:49] explunit opened #717 "Exception message is incorrect when SHA-256 is not supported"
If running on .Net versions prior to 4.6.2 and you have **not** called `GlobalEnableSha256XmlSignatures()` the message when a Sha256 signature arrives is

The message should be:

[2017-05-10 19:52] rharting opened #719 "Given key not present in dictionary"
Hello, I have almost managed to make the Kentor SampleApplication work with our chosen Identity Provider. However, when our Idp SAML POST comes in, I receive an error in my browser,  "System.Collections.Generic.KeyNotFoundException: The given key was not present in the dictionary"
`[KeyNotFoundException: The given key was not present in the dictionary.]
   System.Collections.Generic.Dictionary 2.g

[2017-05-10 19:53] AndersAbel commented on #719
You've not added the Identity Provider to the config. Or if you did, you've got the wrong EntityId of the IdentityProvider. The **** that you've masked out contains the EntityId that the Idp actually uses. That's what should go into the config.

[2017-05-10 19:53] #719 closed

[2017-05-10 19:55] lstaerkmagui commented on #717
I have been getting this error in .NET 4.6.2 as well. I have also tried calling GlobalEnableSha256XmlSignatures() before checking the SAML response signature and I also received this error.

[2017-05-10 19:57] explunit commented on #717
can you paste the exact error message you are seeing on 4.6.2?

[2017-05-10 19:57] AndersAbel commented on #717
@lstaerkmagui Are you sure you've got **exactly** that error message on 4.6.2? Please check again, I'd guess you get the algorithm names the other way around.

[2017-05-10 19:58] AndersAbel commented on #717
@explunit so now it's proven, You're 10 seconds faster on the keyboard than I am ;-)

[2017-05-10 20:09] lstaerkmagui commented on #717
@AndersAbel You are correct! Sorry to bother you guys.

[2017-05-10 20:12] rharting commented on #719
Thank you AndersAbel! I had the EntityID set to the URL of the Metadata, but the Issuer URL in the POST was different. So I made use of the metadataLocation attribute to specify metadata URL and it worked!

[2017-05-10 21:27] rharting commented on #705
I am seeing this same issue.  HttpContext.Current.User.Identity.IsAuthenticated is true, but Name is null. Is there any fix for this?

[2017-05-11 07:44] AndersAbel opened #720 "Improve error message when algorithm is too weak"
The error message shown when then algorithm is too weak is obviously confusing. It should include instructions on how to configure AuthServices to accept a lower (typically SHA1) level.

[2017-05-11 07:48] AndersAbel commented on #705
The `User.Identity.Name` property returns the value of the claim configured as `NameClaimType` on the `ClaimsIdentity`. Normally it has a standard value of `http://schemas.xmlsoap.org/ws/2005/05/identity/claims/name`. If there is no claim of that type the Name property will return blank. With AuthServices, it will only be automatically populated if there is an attribute with the right type in the

[2017-05-11 09:19] abilash1205 commented on #672
hai i am getting same error in .net framwork 4.5 and  i used Kentor.AuthServices v0.21.0

[2017-05-11 09:56] inrakshworld commented on #705
Hi,

Thanks for youe email.

Yes. I found the solution by adding additional claim.

Regards,
Rakesh Lad

On Thu, May 11, 2017 at 8:48 AM, Anders Abel <notifications@github.com>
wrote:

[2017-05-11 10:11] abilash1205 opened #721 "kentor(okta) integration in mvc error"
i am getting below error

The signing algorithm http://www.w3.org/2001/04/xmldsig-more#rsa-sha256 is weaker than the minimum accepted http://www.w3.org/2000/09/xmldsig#rsa-sha1.

i used below kentor authservices in okta

http://developer.okta.com/blog/2016/03/22/use-kentor-authservices-with-okta/

in mvc i used latest kentor  V0.21.2

visual studio 2012 framework 4.5

can please help on this

[2017-05-11 10:13] abilash1205 commented on #721
i check https://github.com/KentorIT/authservices also but its also getting same error

  <kentor.authServices entityId="http://localhost:53761/AuthServices" returnUrl="http://localhost:53761/Home" publicOrigin="http://localhost:53761/AuthServices/SignIn">

    <identityProviders>
      <add entityId="http://www.okta.com/exkaet221dhc01PD80h7" signOnUrl="https://dev-128899.oktapreview.com/app/techde

[2017-05-11 10:27] abilash1205 commented on #705
where to added claim

[2017-05-11 10:30] abilash1205 commented on #705
public ActionResult Index()
        {

            var identity = System.Web.HttpContext.Current.User.Identity as ClaimsIdentity;
            return View();
        }

[2017-05-11 10:31] inrakshworld commented on #705
I added in Okta App configuration under Attribute Statements section.

[image: Inline image 1]

On Thu, May 11, 2017 at 11:27 AM, abilash1205 <notifications@github.com>
wrote:

[2017-05-11 10:38] #705 closed

[2017-05-11 11:17] abilash1205 commented on #705
i added but till getting null

![image](https://cloud.githubusercontent.com/assets/19603112/25946581/67b0d412-3669-11e7-9e16-87cc8058b6b0.png)

[2017-05-11 11:18] GerwinNL commented on #721
You must upgrade to 4.6.2 for this version of AuthServices.
See https://github.com/KentorIT/authservices/blob/master/doc/Configuration.md#signingalgorithm-attribute

[2017-05-11 11:25] GerwinNL commented on #604
I had 'Loop' issues, when users where authenticated, but not authorised (ie, login in Okta was valid, just the role/claim needed was missing. You (c/sh)ould override the HandleUnauthorizedRequest. (see http://stackoverflow.com/questions/238437/why-does-authorizeattribute-redirect-to-the-login-page-for-authentication-and-au)

[2017-05-11 11:33] abilash1205 commented on #705
hai inrakshworld you have any documentation for kentor + okta mvc, can you please  send me it will help so much for my application

[2017-05-11 11:59] explunit commented on #721
Duplicate of #717

[2017-05-11 11:59] #721 closed

[2017-05-11 12:00] abilash1205 commented on #717
i am getting below error

The signing algorithm http://www.w3.org/2001/04/xmldsig-more#rsa-sha256 is weaker than the minimum accepted http://www.w3.org/2000/09/xmldsig#rsa-sha1.

i used below kentor authservices in okta

http://developer.okta.com/blog/2016/03/22/use-kentor-authservices-with-okta/

in mvc i used latest kentor V0.21.2

visual studio 2012 framework 4.5

can please help on this

[2017-05-11 12:01] abilash1205 commented on #717
i added
public static class AuthConfig
    {
        public static void RegisterAuth()
        {
            Kentor.AuthServices.Configuration.Options.GlobalEnableSha256XmlSignatures();
        }
    }

[2017-05-11 12:03] abilash1205 commented on #717
<configSections>
    <section name="system.identityModel" type="System.IdentityModel.Configuration.SystemIdentityModelSection, System.IdentityModel, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
    <section name="system.identityModel.services" type="System.IdentityModel.Services.Configuration.SystemIdentityModelServicesSection, System.IdentityModel.Services, Version=4.0.0.

[2017-05-11 12:06] abilash1205 commented on #721
hai GerwinNL i added but still i getting
public static class AuthConfig
{
public static void RegisterAuth()
{
Kentor.AuthServices.Configuration.Options.GlobalEnableSha256XmlSignatures();
}
}

[2017-05-11 12:18] abilash1205 opened #722 "System.Web.HttpContext.Current.User.Identity.Name"
i added but till getting null

https://cloud.githubusercontent.com/assets/19603112/25946581/67b0d412-3669-11e7-9e16-87cc8058b6b0.png

[2017-05-11 13:31] AndersAbel commented on #717
@abilash1205 Please don't just dump your code and config here.

If you are on .NET 4.5 that error message is a bit misleading. Add a call to `Options.GlobalEnableSha256Signatures()` to enable SHA256 support.

[2017-05-11 13:34] AndersAbel commented on #722
Stop commenting all over and opening new issues. You've already commented on #705 which is this exact question. If you need further assistance than what is available there, it's nothing we can do for free on the issue tracker. Mail me if you want consultancy services.

[2017-05-11 13:34] #722 closed

[2017-05-11 14:10] abilash1205 commented on #717
thank you issuse is solved

[2017-05-11 21:25] rharting commented on #705
Thank you again AndersAbel!
@abilash1205, I am not working with Okta, but given your screenshot, add the Name "http://schemas.xmlsoap.org/ws/2005/05/identity/claims/name" and give it whatever Value Okta calls username, and it should work.

[2017-05-12 07:47] AndersAbel commented on #704
It's perfectly fine to ask questions like that here.

Yes, posting an outbound SamlResponse is supported. Check the StubIdp source for an example of how it's done.

[2017-05-12 07:47] #704 closed

[2017-05-12 08:01] BjoernBeeli opened #724 "Is there a sample using multiple IdPs?"
Based on the SampleOwinApplication I want to configure more than one IdP, so that it show for each IdP on the login page the authorization button.

Is there any sample code (based on SampleOwinApplication) where multiple identity providers are used?
* setup the IdP's in Startup.Auth.cs with config details in web.config
* allow to list different IdP's on the login page
* type of IdP's: SAML2p one a

[2017-05-12 10:38] AndersAbel commented on #594
Doing like IdentityServer3 is often a good idea.

Enabling other mechanisms for relay state persistence is harder as CSRF (Cross Site Request Forgery) protection requires a cookie to be set, which must be correlated to an id passed in the SAML request. Without a cookie, it would be possible for me to initiate an AuthnRequest, get the server to store the state, and then do a CSRF attack by doing th

[2017-05-12 11:47] AndersAbel commented on #367
Thanks for the PR and taking your time for the PR even though you don't need it. The build server indicates some kind of merge conflict but I'll sort it out and merge it.

Just curious - what "odd" things were they using that AuthServices can't handle? Always good to know what keeps people from selecting other solutions instead.

[2017-05-12 12:08] #717 closed

[2017-05-12 12:09] #720 closed

[2017-05-12 13:11] MartijnKooij commented on #367
Hmm... I was about to answer that, but looking through the framework code again I am not that sure anymore that is is indeed an issue. So let me ask you first.

We discovered that the IdP only supported SHA-1 for signing the artifact resolve. In our PoCs I always used a SHA-256 one, and that worked just fine. But is SHA-1 still supported in the framework?

I just assumed it was an issue because...

[2017-05-12 13:43] AndersAbel commented on #367
SHA1 is still supported, but the default mininum strength is now SHA256 on platforms that support it. To accept incoming SHA1, set the `MinIncomingSigningAlgorithm` to "sha1".

Regarding artifact resolve there's also ideas to enable support for unsigned messages - trusting the TLS certificate for authenticity.

[2017-05-12 15:23] AndersAbel commented on #724
The default login page lists *authentication schemes*. Each *middleware* has an own scheme. The other owin/katana middlewares such as for open id connect only support a single Idp per instance, so listing middleware instances makes sense. AuthServices is a bit special in that it supports multiple Idps in *single middleware instance*.

A discovery service is a SAML2 extension standard that lets you

[2017-05-12 15:23] #724 closed

[2017-05-12 19:47] AndersAbel commented on #604
Looks like this is solved, closing issue.

[2017-05-12 19:47] #604 closed

[2017-05-12 20:25] AndersAbel commented on #707
Looks like this is solved, closing.

[2017-05-12 20:25] #707 closed

[2017-05-12 20:26] #673 closed

[2017-05-15 07:13] MartijnKooij commented on #367
Thanks, I had overlooked the [MinIncomingSigningAlgorithm attribute](https://github.com/KentorIT/authservices/blob/master/doc/Configuration.md#minincomingsigningalgorithm-attribute). I will discuss it in the team today as the decicion may have already been made "upstairs".

[2017-05-15 10:15] hungleon2112 commented on #413
Hi @AndersAbel ,

I'm using Okta as IDP, and I enabled Single Log Out then I received the Identity Provider Single Logout URL.

I'm trying to use Log Out functionality in Kentor, but the Cookies wasn't removed. After Log Out, when I tried to click Login, it login automatically with the old credential.

Please help!

[2017-05-15 12:44] ionutcalin opened #725 "Kentor. cookies CookieOptions"
Hello,

In CommandResultExtensions class the methods handling the cookie creation/deletion don;t have the possibility to specify a custom CookieOptions. Because of this we are unable to set the cookie path for example and all of the cookies will be in the "/" root path, which is an issue if we have multitenant scenarios.

Would it be possible to add a default cookieoptions on the  Kentor.AuthServi

[2017-05-16 09:06] AndersAbel commented on #367
Glad we could clear that out. Looks like some more documentation is needed on various scenarios. The flexibility in the library has come to a point where configuration has got really complex.

[2017-05-16 12:10] AndersAbel commented on #413
@hungleon2112 Open a new issue instead of continuing on an old, closed one. And describe more in detail what you are trying and where you are stuck.

[2017-05-16 12:16] AndersAbel commented on #725
It would be possible yes. But it would require some thought on how to handle it as there are actually three different `CommandResultExtensions`: One for each of the HttpModule, Owin and Mvc packages. And the way the cookie options are handled differs between those. So having some kind of cookieoptions would likely require a new, custom class to carry them (in the same way as HttpRequestData).

Ano

[2017-05-17 14:56] hungleon2112 opened #726 "Implement ECP with Kentor"
Hello!

Does Kentor library support for implement ECP? I don't find any example.

[2017-05-17 15:23] AndersAbel commented on #726
No, it doesn't implement ECP at the moment. It could of course be extended to do that and we are always open to adding features as sponsored work. Or if you prefer you can add it yourself and submit a pull request.

[2017-05-18 03:46] hungleon2112 commented on #726
Thank you @AndersAbel :)

[2017-05-18 03:46] #726 closed

[2017-05-18 09:04] hungleon2112 opened #727 "Remove Cookie from IDP when Single Log Out"
Hi @AndersAbel ,

I'm implementing a website using Kentor to interact with IDP (OKTA)

I already enabled the Single Log Out on OKTA, when I Log Out, it's work, but the Cookie still there, so when I go back to Okta Login page, it Login automatically.

Can you advice?
Thank you!!

[2017-05-18 09:26] AndersAbel commented on #727
What cookie is still there?

Did you configure AuthServices for single logout? You need to add a servicecertificate to enable the logout endpoints in AuthServices.

[2017-05-18 09:33] #692 closed

[2017-05-18 09:36] #52 closed

[2017-05-18 10:28] hungleon2112 commented on #727
Hi @AndersAbel ,

Is it a X509 Certificate??

[2017-05-18 11:10] AndersAbel commented on #727
Yes.

[2017-05-18 12:11] abilash1205 opened #728 "when i login to web sites directly without okta it redirected to okta login after login i am getting below error"
Received message contains unexpected InResponseTo "id3b8c812826d14aee81ad0c567c6219b3". No cookie preserving state from the request was found so the message was not expected to have an InResponseTo attribute. This error typically occurs if the cookie set when doing SP-initiated sign on have been lost

[2017-05-18 12:16] abilash1205 commented on #728
When login undefined User.Identity.IsAuthenticated

[2017-05-18 12:37] dennisjose87 opened #729 "IdP initiated flow - Identify okta account"
I have an MVC application (.Net Framework 4.5) which is been there for the last three years and using Forms Authentication mechanism. This application provides different accounts like Personal, freebie, Enterprise etc. For an enterprise account, we are handling everything in the same application. I.e. Suppose an enterprise called “xyz” created an enterprise account with the application, then we ar

[2017-05-18 13:25] olivierPflieger opened #730 "ReturnUrl issue in MVC application"
Hi,

First, thanks for your great job on this API :)

I have a problem with the returnUrl parameter in my MVC application.
(Or may be a lack of understanding).

So i have downloaded the sampleMvcApplication to check if the problem is the same,  and finally i have easily reproduced the problem.

By default, the Home/Index method (in the sampleMvcApplication ) is accessible in anonymous way.
So, on

[2017-05-18 15:04] btopalka commented on #511
is there a work around for this?

[2017-05-18 20:46] davvves opened #731 "SignInCommand null Logger reference"
When running SignInCommand.Run, the calls to options.SPOptions.Logger do not check if Logger exists, leading to a null reference exception.

[2017-05-19 02:18] hungleon2112 commented on #727
Thank you very much!! ^_^

[2017-05-19 02:18] #727 closed

[2017-05-19 10:10] LoicLopes opened #732 "Remote certificate considered invalid"
As I had an issue with the parameter returnURL, I tried to upgrade from 0.19.0 to the last version (0.21.2), but I now have an issue when I try to authenticate. I'm using KentorIT.AuthServices.MVC. I got the following error:

![image](https://cloud.githubusercontent.com/assets/450826/26243391/fc276246-3c8b-11e7-8d44-cd3fb9b76938.png)

I tried to use different certificates, but I always have the sa

[2017-05-19 10:59] AndersAbel commented on #732
The server doesn't trust the https certificate of the idp when loading metadata. To diagnose, log in interactively on the server (if you have access) and open the IDPs metadata in a browser. You'll probably get a certificate warning that can show what's wrong.

[2017-05-19 11:27] espositofulvio commented on #637
Hi,
I'm interested in this topic as well, is there any way with the current version to add those attributes when the XML is generated? Maybe inheriting from the Saml2AuthenticateRequest and rewriting the ToXElement() method? but how can I tell IdentityProvider to create my class then?

[2017-05-19 13:09] LoicLopes commented on #732
Thanks for the answer.
I installed the certificate in the Trusted Root Certification Authorities store of the server but I still get the same error (but I do not have a warning anymore when I open the IPD metadata in a browser).
Is it a new check which was added in 0.20.0? Because I have the problem only with version >= 0.20.0.

[2017-05-20 09:23] BjoernBeeli opened #733 "Localhost ok but on Testserver: loginInfo is null"
We use latest version of Kentor.Authservices with Owin-Middleware.
Our websolution is based on ASP.NET WebForms with integrated MVC.
Configuration of the middleware is done as described.
Everything works perfect on localhost with SimpleSAMLphp as IdP.

But: on the Testserver it's not working because loginInfo is null in ExternalLoginCallback.

I integrated the app.UseKentorOwinCookieSaver() in the

[2017-05-20 14:13] explunit commented on #733
You could try enabling the OWIN tracing:
http://stackoverflow.com/questions/28546227/can-i-enable-tracing-in-owin
http://www.tugberkugurlu.com/archive/logging-in-the-owin-world-with-microsoft-owin--introduction

I think that will let you find the detail behind the access_denied error.

[2017-05-20 14:29] explunit commented on #730
The ReturnUrl in the web.config is only used if there was no ReturnUrl generated during the authentication flow, so this is expected that it will return to the original path that triggered the authentication flow.

[2017-05-21 00:34] explunit commented on #731
It looks like the Options create a "stub" logger if one was not provided:
https://github.com/KentorIT/authservices/blob/v0.21.2/Kentor.AuthServices/Configuration/Options.cs#L53-L56

Can you tell more detail about how the logger becomes null in your setup?

[2017-05-21 05:48] BjoernBeeli commented on #733
In the trace I see the problem:
`Kentor.AuthServices.Exceptions.InvalidSignatureException: The signing algorithm http://www.w3.org/2001/04/xmldsig-more#rsa-sha256 is weaker than the minimum accepted http://www.w3.org/2000/09/xmldsig#rsa-sha1.`

I fixed this problem according to: [Issue 717](https://github.com/KentorIT/authservices/issues/717)
Thanks!

[2017-05-21 10:39] AndersAbel commented on #732
No, this is not a new check. There are no recent changes in that part of the code. If you revert to < 0.20.0 does the problem go away?

When you added the certificate to the Trusted Root store, did you do that for the store for "current user account" or for "local machine"? The IIS process only reads the latter. If you add it to current user store you make the problem go away when logged in as you

[2017-05-22 12:57] AndersAbel commented on #731
@explunit is right. The design is that there always should be a logger, at least the null one. The label changes above reflect that when looking at the code I found it quite counter-intuitive before I remembered the reason.

When using the Mvc or HttpModule packages the default is a null logger. When using the Owin package the default is to use the configured owin/katana logger. Since the defaults

[2017-05-22 12:57] #730 closed

[2017-05-22 13:06] AndersAbel commented on #728
What API package are you using? MVC, Owin or HttpModule?

[2017-05-22 13:07] AndersAbel commented on #729
Answering the cross-posted question on Stack Overflow instead: https://stackoverflow.com/questions/44048281/idp-initiated-flow-identify-okta-account

[2017-05-22 13:07] #729 closed

[2017-05-22 13:15] AndersAbel commented on #511
No, this is something that needs to be added to support a wider range of how Idps handle Artifact resolution.

What issues are you actually running into? This bug is a corner case so unless you have a quite special setup, you shouldn't be affected by this. Chances are that it's something else that is the actual problem.

[2017-05-22 13:22] AndersAbel commented on #637
@espositofulvio No, I don't think a workaround is possible. This need to be implemented in the library.

[2017-05-22 13:40] davvves commented on #731
@AndersAbel @explunit  The setup is to create the SPOptions first, and then use the normal KentorAuthServicesAuthenticationOptions constructor as such:

`var authServicesOptions = new KentorAuthServicesAuthenticationOptions(false)
            {
                SPOptions = spOptions
            };`

As far as I can tell this constructor is not giving a logger to the SPOptions property.

[2017-05-23 07:32] Mishu opened #734 "deny users="?" endless redirect"
Hello,
If you have an mvc application that has this config:
`<authorization>
      <deny users="?" />
    </authorization>`
Then you get redirected to the stubIdp on and on...
To verify just add that element in the SampleMvcApplication and see the behaviour...

Thanks,
Mishu

[2017-05-23 08:43] AndersAbel commented on #731
No, you're right. The creation of the logger is actually deferred to the `KentorAuthServicesAuthenticationMiddleware()` constructor because that's where the Owin dependency injection/resolution can be accessed to create an owin logger. But still it shouldn't be possible to get in a situation where the logger is null.

[2017-05-23 10:06] AndersAbel commented on #734
This is by design due to how web.config based authorization works.

The web.config based authorization happens before the MVC controller is run. If you use web.config based authorization rules you need to allow anonymous access to ~/AuthServices. And using web.config based authorization rules is legacy, in an MVC application you should use attributes on the controllers/actions. If you want all con

[2017-05-23 10:06] #734 closed

[2017-05-23 12:35] davvves commented on #731
Yep, give me a few hours and I'll get back to that point. Thanks Anders.

[2017-05-23 14:00] augustg commented on #659
I think I ran into the same issue trying to use azure as IdP.
The exception is being thrown from VerifySignature in XmlHelpers.cs.
The metadata (which is automatically downloaded) contains 3 signing certificates and one certificate within the signature itself. The latter cert is the exact same as the first of the 3 signing certificates.
In VerifySignature() the 3 signing certs are checked first an

[2017-05-23 14:01] davvves commented on #731
Inside the `CreateAuthServicesOptions` call below:
I'm creating an `SPOptions` instance first with nothing set for the `Logger` property.
Then calling the constructor as such:
`var authServicesOptions = new KentorAuthServicesAuthenticationOptions(false) { SPOptions = spOptions };`
Then calling the sign in command:
[code]

Stacktrace (identifying info has been deleted):
[code]

[2017-05-23 14:11] AndersAbel commented on #731
Ok, now I see. You've done an own frontend instead of using the owin middleware, but you've used the owin options class. Then you're on your own and won't be saved by the automatic creation of a logger. You need to set it by yourself. Or if you're not using the owin middleware, switch to using the built in `Options` class instead of `KentorAuthServicesAuthenticationOptions`. `Options` will set a n

[2017-05-23 14:11] #731 closed

[2017-05-23 14:17] Mishu commented on #734
Thanks for the answer. Yeah it's about an old legacy app.

[2017-05-23 14:40] AndersAbel commented on #659
@augustg Looks like you might have found a bug. Please file a new issue. This is an old question that will be closed.

[2017-05-23 14:40] #659 closed

[2017-05-23 14:53] augustg opened #735 "Azure AD - "The signature verified correctly with the key contained in the signature, but that key is not trusted.""
Using azure as IdP i always get an exception saying "The signature verified correctly with the key contained in the signature, but that key is not trusted.".

I did some digging and this is what I've found so far:
The exception is being thrown from VerifySignature in XmlHelpers.cs.
The metadata (which is automatically downloaded) contains 3 signing certificates and one certificate within the signa

[2017-05-23 14:59] AndersAbel commented on #735
Something odd is definitely going on here.

You are right in that you should not have to add the certificate to the trusted root certs. When a SAML2 message is received, it should validate against one of the keys found in the Idp metadata, because the keys from the metadata is what we trust.

That final check against the certificate contained in the signature is just a debug aid, to show whether t

[2017-05-23 15:02] augustg commented on #735
Yes, the first of the signing certs in the metadata (specifically under the node IDPSSODescriptor) matches the cert in the signature.

[2017-05-24 06:59] AndersAbel commented on #735
Would you mind sending the actual metadata and the SAMLResponse to me in a mail (anders@abel.nu) so that I can look at them?

[2017-05-24 08:06] augustg commented on #735
Email sent!

[2017-05-29 08:21] AndersAbel commented on #735
Checked the data I received via e-mail and none of the certificates in the metadata match the certificate of signature of the SamlResponse. So AuthServices is giving the right error message.

[2017-05-29 08:21] #735 closed

[2017-05-30 08:48] imranjalali opened #737 "Kentor.AuthServices.Exceptions.InvalidSignatureException"
I am able to authenticate with my idp, but the following error has been throw when it start assertion.

Kentor.AuthServices.Exceptions.InvalidSignatureException: The SAML Response did not contain valid signature.

Line 198:                        ex.Data["Saml2Response"] = unbindResult.Data.OuterXml;
Line 199:                    }
Line 200:                    throw;
Line 201:                }
Line

[2017-05-30 08:51] #737 closed

[2017-06-01 13:05] chicologue opened #738 "Using Kentor + Windows Authentication"
Hi, I was wondering if it is possible to use the Windows Authentication with Kentor. After a few days of searching and trying, I've found nothing concluant, no working sample.
_Here is my Startup class :_
[code]
The windows authentication works when I don't use Kentor, but I can't make them work together ...
Do you have any leads ?

[2017-06-05 23:26] SbGibson opened #739 "Kentor and Mono"
Someone used Kentor AuthServices in Mono?
With the same basic configuration used in Windows I obtain a generic:
`System.TypeInitializationException: The type initializer for 'Kentor.AuthServices.HttpModule.Saml2AuthenticationModule' threw an exception. ---> System.TypeLoadException: Could not load type 'Kentor.AuthServices.Configuration.KentorAuthServicesSection' from assembly 'Kentor.AuthServices

[2017-06-07 07:27] AndersAbel commented on #739
I haven't heard of anyone running AuthServices on Mono, but people are doing a lot of (to me) unexpected things with AuthServices.

I have no idea why the type fails to load. If you figure out what's wrong, please comment back here to help if anyone else runs into the same issue.

[2017-06-08 11:02] AndersAbel commented on #738
This looks like a too complicated issue to solve here on the issue tracker. If you are interested in consulting services, please mail me at anders.abel@kentor.se

[2017-06-08 11:02] #738 closed

[2017-06-08 22:31] eddietisma commented on #631
This is not an issue anymore after the fix for #582 which came with [v0.20.0 release ](https://github.com/KentorIT/authservices/milestone/27?closed=1)

[2017-06-08 22:31] #631 closed

[2017-06-09 13:36] GerwinNL opened #740 "Authenticated User without needed Role goes into Loop"
Hello.

I'm currently implementing Okta in some of our companies application. We have succesfully used your Library to do this in MVC 4/5 Website's. However ..
We also like to enable SAML on one of our legacy application thats using Forms Authentication and the old aspnet providers. We managed te get everything up and running except 1 part.

When a user is Authenticated, but we demand a certain Ro

[2017-06-09 22:51] willrosn opened #741 "Protocol Binding and SPNameQualifier in authentication request"
HI,  We are trying to add these two lines to our authentication request:

ProtocolBinding="urn:oasis:names:tc:SAML:2.0:bindings:HTTP-POST"

and

SPNameQualifier="testsurvey.myatphub.ca"

The Idp requires these properties.  Can this be down with kentor.  We have tried adding "binding="HttpPost" to the <add> identify providers section with no luck.

[2017-06-11 11:17] ash23 commented on #608
We are not using Identity Server and we do not need each identity provider to be represented as a button on some common login page for all users. We are building an MVC 5 application using OWIN / ASP.Net Identity where each customer organisation using our application (acting as a SP) may setup one optional identity provider (at runtime) and hence we need to register this identity provider dynamica

[2017-06-12 14:35] dwhitmore opened #742 "Can't run sample app (MVC). Provided certificate is not valid for encryption/decryption"
This is perhaps more of a question.

I clone the project.
I install the .pfx and .cer through MMC as an admin to the local computer.
Run the app

No matter what I try i keep getting this error.  Any chance I just misunderstood something and missed a step?

If it helps, trying different combinations, I've install both in Personal->Certificates and the .cer also in Trusted Root Certification Authori

[2017-06-13 13:45] explunit commented on #741
It looks like `ProtocolBinding` is supported. See #466

I don't think `SPNameQualifier` is supported, but perhaps the `AuthenticationRequestCreated` event approach mentioned in #466 will let you work around this? I also see that @stevewhite mentioned an in-progress PR in #551

[2017-06-13 13:53] explunit commented on #742
I'm not sure what version you are running, but the latest version has adding some more detail to that error message:
```Provided certificate is not valid for encryption/decryption. There may be insufficient permissions to its private key in the windows certificate store or the certificate itself may not have the correct purposes. If you only want to use it for signing, set the Use property to Sign

[2017-06-14 07:34] AndersAbel commented on #741
`SPNameQualifier` is not supported, it needs to be added to the `Saml2NameIdPolicy` class and also support needs to be added in the XML parsing and generation.

[2017-06-16 01:29] anthonyrstevens opened #743 "KeyNotFoundException when looking up IdP in IdentityProviderDictionary"
Hi, I'm using Kentor.AuthServices.Owin in an ASP.NET MVC 5 app and I'm seeing the following exception when presented with an IdP-initiated assertion:

[code]

This appears to be a similar error to issue #477, but there is a <saml:Issuer> element in the incoming assertion, so it's not the same cause.

This same error occurs with two different, unrelated SAML IdP sources. The Kentor Stub IdP works,

[2017-06-16 05:23] AndersAbel commented on #743
Your configuration doesn't match the received response. In the SAML2 response the entity ID is `http://idp.oktadev.com`. The `vm.IdpEntityId` is obviously something else.

[2017-06-16 05:23] #743 closed

[2017-06-16 08:39] T4YoO opened #744 "Error load config when virtual directory"
Hello,

In our project we use a virtual directory with IIS Express:
Project Url : http://localhost:56000/Website

We have an exception when calling `new KentorAuthServicesAuthenticationOptions(true)`

InnerException:

We have no problem to load the config with no virtual directory:
Project Url : http://localhost:56000

Thank you

[2017-06-16 09:25] AndersAbel commented on #744
Looks like something is wrong in how your web.configs are setup, have never heard of this type of exception before.

[2017-06-16 12:27] T4YoO commented on #744
I tested in an empty mvc 5 project

I have the same exception with a virtual directory.
Even if I just call
`ConfigurationManager.GetSection("kentor.authServices") as KentorAuthServicesSection`

In web.config I only have:

[code]

[code]

[code]

[code]

And in Startup.ConfigureAuth:
`app.UseKentorAuthServicesAuthentication(CreateAuthServicesOptions());`

[code]

[2017-06-16 12:30] explunit commented on #744
I would guess this is more about IIS Express doing odd things with physical path than it is about AuthServices. For example: https://stackoverflow.com/questions/18506826/iis-express-cannot-add-duplicate-collection-entry-of-type-add-with-unique-key

[2017-06-16 12:38] dwhitmore commented on #742
After seeing that it worked when I ran VS in 'Admin' mode, I gave the regular user 'Full Control' to the directory 'C:\ProgramData\Microsoft\Crypto\RSA\MachineKeys' per a Stack Overfow issue.

[2017-06-16 12:38] #742 closed

[2017-06-16 13:15] #744 closed

[2017-06-16 15:02] AndersAbel commented on #740
This is not an AuthServices specific question, but a general problem with how the forms auth works. When access is denied it redirects to the specified login page, which if you have specified `~/AuthServices/SignIn` directly kicks of a SAML flow.

I'd suggest a workaround by setting the login page to a custom page, that contains something like the above code and redirects to `~/AuthServices/SignIn

[2017-06-16 15:02] #740 closed

[2017-06-16 16:16] anthonyrstevens commented on #743
Thank you. Sometimes it's the obvious things that trip you up.

[2017-06-16 20:55] AndersAbel commented on #186
The owin middleware's error behaviour has now changed. It no longer throws exceptions but rather returns an error ticket and logs the error, so this is no longer relevant.

[2017-06-16 20:55] #186 closed

[2017-06-16 20:56] #242 closed

[2017-06-16 20:57] #301 closed

[2017-06-16 21:00] #444 closed

[2017-06-16 21:03] #571 closed

[2017-06-16 22:42] wkrosner opened #746 "Single Logout Error IdP initiated"
We are seeing a 404 error when we logout from the IdP.  I think this is a problem decrypting the Logout request as it works when the encryption is off.   if we manually browse to the logout page https://testsurvey.myatphub.ca/SE/AuthServices/Logout, it processes the logout correctly.  when we click the IdP logout button, we get a 404 error.  Is it possible to be able to decrypt the SAML response b

[2017-06-17 14:56] explunit commented on #746
Sorry, nothing obvious comes to mind. Perhaps it will be more clear what's happening if you use a SAML trace tool. A couple of them are linked from here: https://github.com/KentorIT/authservices#troubleshooting

[2017-06-19 05:31] AndersAbel commented on #746
There is no support for encrypted logout requests. But it shouldn't result in a 404. Use the browser dev tools to ensure that the logout request is posted to the right URL.

[2017-06-19 06:17] #733 closed

[2017-06-19 06:18] #608 closed

[2017-06-19 06:18] #576 closed

[2017-06-19 06:19] #568 closed

[2017-06-19 06:53] designsinnovate opened #748 "Idp-Init and SP-Init flows using IdentityServer and AuthServices supporting multiple identity providers"
First, Thank you for this great library. I came across many posts around these two SAML flows and integrating them with IdentityServer, thought I should contribute back with some documentation and consolidation of my findings.

Learned about this library from https://github.com/IdentityServer/IdentityServer3/issues/833, that eventually led me to this documentation [IdentityServer3Okta.md](https://

[2017-06-19 10:43] #182 closed

[2017-06-19 19:39] wkrosner commented on #746
Anders, how much would it costs to have this project support encrypted logout requests?

[2017-06-20 09:17] LukeeK commented on #515
Hi,
I am not sure if this the right place to right but I think my issue is related. In my scenario  I also have two idps, in test environment I am using our test adfs and http://stubidp.kentor.se as second idp. I am adding saml authentication to web form app with using owin. To login I am using links =>"./Internal/SignIn?idp=..." and "./Externall/SignIn?idp=...". To logout I am calling  context.Au

[2017-06-21 07:08] LukeeK opened #749 "Logout problem when having two idps"
Hello,
in my scenario I have two idps, in test environment I am using our test adfs and http://stubidp.kentor.se as second idp. I am adding saml authentication to web form app with using owin package. To login I am using links =>"./Internal/SignIn?idp=..." and "./Externall/SignIn?idp=...". To logout I am calling context.Authentication.SignOut(). Each idp has its own AuthService (Internal and Exter

[2017-06-21 07:21] AndersAbel commented on #172
Changing this issue to only concern federations and making a separate issue for identity providers.

[2017-06-21 07:23] AndersAbel opened #750 "Validate idp metadata signature"
Validate the signature of idp metadata in the same way as done by federations in #172.

[2017-06-21 07:24] AndersAbel commented on #750
Closing as won't fix as I don't see a need for this.

For federations it makes sense to validate the signature of the entire file before trusting the keys for the individual identity providers in the file. But for an idp if you have to configure keys you can just configure everything directly instead.

I might be wrong about this, so if someone requires this feature please leave a comment and I'll

[2017-06-21 07:24] #750 closed

[2017-06-21 10:16] #172 closed

[2017-06-22 18:12] ncapito opened #751 "Invalid configuration results in crash in pipeline"
We accidentally configured our EntityId incorrectly and when this happens we get a crash in
 `CreateErrorAuthenticationTicket`.  The issue is the ReturnUrl is null  and crashes when it hits the line:
[code]

Would be nice if we could handle this a little safer so the owin pipeline does not crash.  It would be nice if the property is not there to fallback to the Options.SPOptions.ReturnUrl on line

[2017-06-23 14:56] keimpema opened #752 "Metadata read error "CData elements not valid at top level of an XML document. Line 1, position 3.""
Hi,

I have a problem with the metadata from [https://was-preprod1.digid.nl/saml/idp/metadata](https://was-preprod1.digid.nl/saml/idp/metadata) . The xml parser cannot read it. Error is "CData elements not valid at top level of an XML document. Line 1, position 3." However, the xml looks fine to me.

What could be the problem? Any help would be much appreciated!

TIA
Harmen

code:

[code]

excepti

[2017-06-28 16:07] bratfizyk opened #754 "Single SingOut problem: Logging Out from one service does not log me out of the other one"
My case:
1.) I navigate into my SSO-enabled service. Get redirected to IdP. Provide it with my credentials and all works fine.
2.) Then I navigate to another SSO-enabled service. It contacts the same IdP and finds out the session is active. So no need to provide credentials again - I get redirected to the other service.
3.) Eventually I log out from the first service. All fine - the session gets t

[2017-06-30 21:14] brillox commented on #717
I still get the message and I have just upgraded all my c# project filers to use 4.6.2 which is also installed on my test server:

The signing algorithm http://www.w3.org/2000/09/xmldsig#rsa-sha1 is weaker than the minimum accepted http://www.w3.org/2001/04/xmldsig-more#rsa-sha256.

[2017-06-30 21:16] brillox commented on #717
InvalidSignatureException: The signing algorithm http://www.w3.org/2000/09/xmldsig#rsa-sha1 is weaker than the minimum accepted http://www.w3.org/2001/04/xmldsig-more#rsa-sha256.]
   Kentor.AuthServices.XmlHelpers.ValidateSignatureMethodStrength(String minIncomingSignatureAlgorithm, String signatureMethod) +259
   Kentor.AuthServices.XmlHelpers.ValidateSignedInfo(SignedXml signedXml, XmlElement xm

[2017-07-03 19:57] explunit commented on #717
@brillox in your case the message is correct. On .Net 4.6.2 the default is to require SHA256 unless you specifically configure it for downgrade.

[2017-07-03 21:04] brillox commented on #717
OK thanks and how I can configure this in web config?

[2017-07-03 21:06] explunit commented on #717
@brillox https://github.com/KentorIT/authservices/blob/master/doc/Configuration.md#minincomingsigningalgorithm-attribute

[2017-07-03 21:11] brillox commented on #717
Thanks explunit, I appreciate your help; the problem is that I have inherited an application that use Kentor but I haven't used at all before and the guy who left did not wrote any documentation; if I am not arsing too much could you please give me a snippet of  a web config with those attributes so that I can figure it out where to add it to the existing web config? Apologies for asking for this

[2017-07-03 21:19] explunit commented on #717
@brillox https://github.com/KentorIT/authservices/blob/v0.21.2/Kentor.AuthServices.Tests/App.config#L8-L9

[2017-07-03 21:23] brillox commented on #717
what can I say... you are a star? Thanks a lot!!

[2017-07-04 15:00] olivierPflieger opened #755 "ADFS issue"
Hi,

I'm facing an issue with an external ADFS Provider.
In fact, I'm correctly redirected on the ADFS url, but get an error before having the login form (so i can not enter my credential).

Here is my config file :

[code]

[code]

</kentor.authServices>

The message is the following :
"The requested relying party trust 'https://localhost:44388/AuthServices' is unspecified or unsupported. If a re

[2017-07-04 15:36] explunit commented on #755
This ADFS-specific question probably belongs on Stackoverflow rather than this issue board, but my guess is that your EntityId does not match (including case-sensitive) what is configured on the ADFS side in the relying party trust.

[2017-07-04 15:36] #755 closed

[2017-07-04 15:41] olivierPflieger commented on #755
Hi,

You right. Sorry for posting here.  But i'm struggling with this bug ...

The entityID is correct. I copy/past it from the metada file...

[code]

Is it correct ?

[2017-07-04 15:48] explunit commented on #755
I meant **your** entity id: `<kentor.authServices entityId="https://localhost:44388/AuthServices"`

ADFS needs to have this configured as a relying party trust, either by reading your metadata or by manual configuration of this entity and the allowed endpoint URLs.

[2017-07-04 15:59] explunit commented on #752
It reads OK for me. Is there a proxy between the server where this metadata is attempted to be read? Note that metadataLocation can be a local path so you could try this possibility by downloading it separately and loading from local copy.

[2017-07-04 16:03] explunit commented on #754
Does your IDP support this single-log-out feature? When you look in the browser network console does it attempt to contact your logout endpoint?

[2017-07-04 16:41] explunit commented on #748
Thank you for contributing back your findings. Is there something further you would suggest about adding to the official documentation? If so, perhaps you could create a version of the SampleIdentityServer3 application in your fork so that your suggestion can be analyzed in more detail.

[2017-07-04 17:00] olivierPflieger commented on #755
The IT admin said that he has correctif configured this part.

Are you sure that localhost is not the problem ?

Last question before closing the issue.

How Can i generate a metadata file to give to the admin ?

Ty

[2017-07-04 17:05] explunit commented on #755
Yes I'm sure that it's possible to have a sample application work with ADFS using a localhost address.

The service provider metadata is available by default at the /AuthServices path in your application.

[2017-07-04 20:55] kb99 commented on #752
I ran into a very similar issue recently and tracked it down to the order that the properties on the IdentityProvider object are set.

`var idp = new IdentityProvider(new EntityId(DigidSettings.IsseurUri), authServicesOptions.SPOptions)  // from (F) above
            {
                LoadMetadata = true,
                MetadataLocation = DigidSettings.MetadataLocation, // see Metadata note above

[2017-07-05 13:28] explunit commented on #752
Thanks @kb99 I didn't notice that detail

You can also simply omit the `LoadMetadata = true` since setting `MetadataLocation` automatically triggers this.

I'm not sure but possibly the changes to fix #658 will make this less error-prone.

[2017-07-05 16:19] bratfizyk commented on #754
Hi @explunit.
The answer is: yes. When I log out of the first service (let's call it "A") the session gets successfully terminated also on IdP side and I'm asked to log in when entering yet another service ("C").

However, if I log into a service ("B") BEFORE logging out of "A", the SSO works and I'm allowed to access "B". Then when I log out of "A", the local session in "B" is still active.

I th

[2017-07-05 20:40] humbertojacobm opened #756 "how can i get access to Service Provider from asp.net client application?"
Hi, I gotten run one asp.net application like as SP with Kentor, but when I am trying to run another asp.net application, this can not have relationship with the SP, how can I do that?

[2017-07-06 07:46] kb99 opened #757 "Are query string params supported in EntityId URI"
Has anyone ever encountered any issues trying to configure a Idp instance where the EntityId contains query string params e.g.

`https://idpserver.com/IdPServlet?idp_id=12345678`

Just want to check if there are any known issues with specific formats required for EntityId strings.
We have encountered an error (Http Error 504 during SP login flow) trying to configure a test system with a URI in thi

[2017-07-06 12:19] kb99 commented on #757
I've posted same question on SO as may be a more suitable forum for this type of question.

https://stackoverflow.com/questions/44948667/saml2-sso-are-query-string-params-supported-in-entityid-uri

I can close this to avoid duplication

[2017-07-06 12:19] #757 closed

[2017-07-06 14:00] ganiths opened #758 "Support for SAMLExtensions"
Hi,

Currently i have a requirement to send additional SAML extensions in the Authentication request as my IDP expects those additional data in the request.Example as below
<saml2p:AuthnRequest>
<saml2p:Extensions>
<custom:extension xmlns:custom="urn:custom:names:tc:SAML:2.0:extension_req">
<custom:attribute>A1</custom:attribute>
</custom:extension>
</saml2p:Extensions>
</saml2p:AuthnRequest>

But

[2017-07-06 15:16] humbertojacobm opened #759 "Is it possible build a SSO model only with kentor without using PING or AZURE AD OR ADFS?"

[2017-07-07 14:48] bratfizyk commented on #754
Hi @explunit
I've taken a look and it seems so - my IdP sends a message and maybe I mishandle it - need to make sure. Thanks for the hint.

[2017-07-07 23:32] brillox opened #760 "Sequence contains no matching element"
Does anyone know what this is?

Sequence contains no matching element
at System.Linq.Enumerable.Single[TSource](IEnumerable`1 source, Func`2 predicate) at Kentor.AuthServices.XmlHelpers.GetFullSigningAlgorithmName(String shortName) at Kentor.AuthServices.Configuration.SPOptions..ctor(KentorAuthServicesSection configSection) at Kentor.AuthServices.Configuration.Options.LoadOptionsFromConfiguration(

[2017-07-07 23:35] brillox commented on #760
I think I figured it out; I did not installed DOT NET 4.6.2 on the server

[2017-07-12 16:22] jsoncox commented on #242
I had this same issue. I was not able to get the `persistenSessionLifetime` setting to have any effect on the cookie expiration until I added `IsPersistent = true` in `SignInOrOutSessionAuthenticationModule` of CommandResultHttpExtension.cs.

[2017-07-13 03:49] iamvips opened #762 "No way to override or set AssertionConsumerService(ACS) URL"
I am unable to set/override the ACS Url while sending an Authentication request in our .net application. Could anyone please guide us through?

[2017-07-17 09:50] FerdyHoefakker opened #763 "Kentor not finding return URL"
Hi,

I'm trying to set-up an SSO using Kentor and am running into a strange issue. When trying to log in to the IDP, this is successful. However, upon being redirected to my application, Kentor throws an error because it claims the return url was not configured. I put a watch on `CommandFactory.GetCommand(CommandFactory.AcsCommandName)` to see its result and there's 2 properties filled:

1. SpInit

[2017-07-17 21:29] explunit commented on #759
I'm not entirely sure what you mean, but I think the answer is no. Kentor.AuthServices is intended to be used on the service provider/relying party side of the SAML protocol. While some sample/stub IDP is provided for testing, it's not intended for production use.

[2017-07-17 21:29] #759 closed

[2017-07-17 22:25] explunit commented on #763
I can't think of anything obvious that would be causing this. Are you able to reproduce the problem by using a similar configuration in any of the sample projects? Also, which mode are you using (OWIN, MVC, or HttpModule)?

[2017-07-18 06:49] AndersAbel commented on #746
@wkrosner Sorry for my late reply, please mail me at anders.abel@kentor.se for a discussion on sponsored development of that feature.

[2017-07-18 06:54] AndersAbel commented on #515
@LukeeK That looks like a different issue, let's handle it in #749.

[2017-07-18 06:55] AndersAbel commented on #749
I would need some more logs/info to be able to understand what's happening here. Can you please enable the logging and post the log?

[2017-07-18 06:56] AndersAbel opened #764 "Logging on ReturnUrl"
Improve logging on what ReturnUrl was used. From AuthenticationProperties (owin only)? or the configured fallback? Or the ReturnUrl Query string param?

[2017-07-18 08:20] LukeeK commented on #749
Hi, thanks for response :) , I will try to put some code and more info next days

[2017-07-18 08:54] FerdyHoefakker commented on #763
Hi,

I have not been able to reproduce the problem on any of the other projects, but the problem seems to be fixed now. I threw out all the (related) DLLs, recompiled the project and cleared all the (related) temp files.

-Ferdy

[2017-07-18 13:29] explunit commented on #756
The SAML model is that you have multiple Service Providers/Relying Parties associated with an IDP. You do not associate additional applications with the same SP. Each one would become their own SP.

[2017-07-18 13:29] #756 closed

[2017-07-18 20:45] Shiro013 opened #766 ""FederatedAuthentication.SessionAuthenticationModule is null" when in normal IIS"
I'm receiving this error when I publish my MVC project and set it up on IIS.

**_FederatedAuthentication.SessionAuthenticationModule is null, make sure you have loaded the SessionAuthenticationModule in web.config_**

When running as debug in Visual Studio there is no issues, it works fine.

[code]

Stack trace:

[code]

Additional info:

This error appears after the login.
My project was update f

[2017-07-18 21:07] Shiro013 commented on #766
I updated my IIS and now it seems is working. I will investigate further.

[2017-07-19 10:57] scriptmonkey69 opened #767 "Federation Metadata"
If I am loading the metadata from the federation via a url, and this metadata includes the encryption and signing certificates for communication, why do I need to have the certificate installed on my client computer?

[2017-07-19 12:14] explunit commented on #767
You do not need to have **their** certificate installed on your client, but if you are using encrypted assertions or signing outbound messages then you need to have **your** certificate installed because you are the only one that should have its private key.

[2017-07-19 12:14] #767 closed

[2017-07-19 12:24] scriptmonkey69 commented on #767
So in the MVC example web.config what is the signing certificate inside the
identityprovider?

On 19 Jul 2017 2:14 p.m., "Steve" <notifications@github.com> wrote:

[2017-07-19 12:26] scriptmonkey69 commented on #767
My context is, I work for a large international bank and we are using
kentor authservices to integrate our MVC .net application into the adfs.

Regards

On 19 Jul 2017 2:14 p.m., "Steve" <notifications@github.com> wrote:

[2017-07-19 12:43] explunit commented on #767
That example is just one way of doing it (some IDPs don't support the metadata standard and for those you have the option of manually receiving the public key and having it locally).

[2017-07-19 12:59] scriptmonkey69 commented on #767
Cheers, keep up the good work.

On 19 Jul 2017 2:43 p.m., "Steve" <notifications@github.com> wrote:

[2017-07-19 20:44] suwatch commented on #427
To turn on user profile, do add Site's appSettings `WEBSITE_LOAD_USER_PROFILE = 1`.   See if that helps.

[2017-07-21 05:43] scriptmonkey69 opened #768 "Connection forcibly closed"
I have been battling with AuthServices for 2 days, and the error has been
'Unable to read data from the transport connection: An existing connection was forcibly closed by the remote host.'

I then tried my configuration in the SampleMvcApplication, with the same result, this prompted me to check the exact cause of this error and this resulted in me adding the following line of code

ServicePointM

[2017-07-21 07:00] LukeeK commented on #749
Hi, my code from Startup.vb file is below, it is in vb. As I said for the second auth service added(internal in this case) logout is not performed correctly. When try to log again I am automatically redirected back to application without need of putting credentials again.

   Dim returnUrl As String = "https://localhost:44300/"
   Dim publicOrigin As String = "https://localhost:44300"
   Dim exter

[2017-07-24 11:45] #766 closed

[2017-07-24 11:52] Shiro013 opened #769 "ADFS SignOut problem and configuration without Web.config"
Hi, I have two questions.
I've implemented the Auth with ADFS and MVC and its working.

First, Is there any way I can configure my application to work without the web.config sections? I wish to configure Kentor by code to leave my web.config as default, my applications need it. If there is a way, can you guys give me an example please?

Second, I have two applications working with the same ADFS se

[2017-07-25 09:21] scriptmonkey69 commented on #768
Fixed it by just adding the line of code in the StartUp class. So no need to use an amended, non standard,  AuthServices library.

[2017-07-25 09:21] #768 closed

[2017-07-26 13:07] explunit commented on #768
Thanks for reporting your findings here for others to benefit from.

[2017-07-27 10:54] anhhoangbui opened #770 "How to retrieve data from the ACS"
Is there a way I can change the ACS Url in the metadata generated from ~/AuthServices to my own URL instead of ~AuthServices/ACS ?

The problem I have right now is that I need to read the POST coming from the ADFS. However, once the ADFS POST to the ACS, the ACS simply redirects me to my returnURL without the POST content so I would prefer if the ADFS POST directly to my own url.

[2017-07-27 14:11] explunit commented on #770
I'm curious what processing you are trying to do on the ADFS POST. If you simply want to read the attributes in the SAML, those should be available as claims in the identity generated by AuthServices after successful validation.

[2017-07-28 02:07] jamestelfer opened #771 "Enhance Kentor to allow configuration sources to be modified"
My company is currently using Kentor as the SAML SP for our product. In an upcoming release, we need to modify Kentor to enable the configuration to be looked up from a different source. This means that there will be engineering on this taking place over the next 6-8 weeks.

While we are relatively new to developing OSS, I'd like to do this work in the open in the same spirit as shown by this proj

[2017-07-28 07:25] anhhoangbui commented on #770
I'm definitely out of my comfort zone when it comes to ASP .NET so I'm not sure how to get those attributes using claims. Is there any example I can take a look at? I tried googling but there seems to be more then 1 type of claims and I don't know which one is applicable to Kentor. My work space is limited to a Page_Load on the returnURL only.

[2017-07-29 19:20] explunit commented on #771
I'm not sure I fully understand the gap between what you're trying to do and what we see in these two issues:
1 - https://stackoverflow.com/questions/43980281/programatically-configure-sso-settings-using-kentor/43981285
2 - https://github.com/KentorIT/authservices/issues/335

Can you explain more?

But yes, this project does accept pull requests. I'm not the owner but I've contributed several enha

[2017-07-29 19:25] explunit commented on #770
See this controller and view in the MVC sample application:
https://github.com/KentorIT/authservices/blob/v0.21.2/SampleMvcApplication/Controllers/HomeController.cs#L18-L22
https://github.com/KentorIT/authservices/blob/v0.21.2/SampleMvcApplication/Views/Home/Secure.cshtml#L11-L14

[2017-07-29 19:25] #770 closed

[2017-07-29 19:33] explunit commented on #769
Regarding configuration, see this comment: https://github.com/KentorIT/authservices/issues/771#issuecomment-318852977

Regarding single logout, it is indeed hard to debug sometimes. A couple suggestions:
 1. See the conditions checked here https://github.com/KentorIT/authservices/blob/v0.21.1/Kentor.AuthServices/WebSSO/LogOutCommand.cs#L155-L170
 1. See the other [Troubleshooting](https://github.c

[2017-07-31 09:09] anhhoangbui commented on #684
Hi guys,

I'm having the exact same issue here. Can someone help me elaborate on what is the "enabled role manager I had missed" and how do I go and disable it?

[2017-08-01 10:44] anhhoangbui opened #772 "Not authenticated and blank claims after returning from ACS"
I'm using the Stub Idp to test my website, however, after sending response to the ACS, User.Identity.IsAuthenticated is always false and if I print out the claim as per the code below, I'll get:

http://schemas.xmlsoap.org/ws/2005/05/identity/claims/name =

I found this issue [here](https://github.com/KentorIT/authservices/issues/684) which seems to have the same behavior as I'm getting, but the p

[2017-08-01 13:13] explunit commented on #772
It's very difficult to diagnose with the information provided, so I would give the same advice as I gave in the issue you linked: https://github.com/KentorIT/authservices/issues/684#issuecomment-295524834 and also the troubleshooting suggestions if you haven't seen those yet: https://github.com/KentorIT/authservices#troubleshooting

[2017-08-01 14:32] jamestelfer commented on #771
Thanks @explunit!

AFAICS the configuration is either set once at startup/first load or (in the case of the module) modifiable on a static field.

I'm working on a multi-tenant app, where:
* the application URL changes per tenant: i.e. `tenantname.app.com`
* each tenant may have its own SAML settings

Given that the application URL is different per tenant, this means that the return URL for a tena

[2017-08-01 18:50] explunit commented on #771
So your question is not about configuring via code (vs. web.config) but rather configuring in a way that takes effect immediately without restarting application pool? Which mode are you using (HttpModule, MVC, or OWIN)?

[2017-08-01 19:09] nicswan commented on #684
@anhhoangbui The role manager I mention has nothing to do with the Kentor AuthServices library. It's something that is a part of my application for _authorization_ purposes once authentication is complete. In my case, though, an error coming from it was obscuring my ability to troubleshoot claims issues (as returned from my ADFS instance via AuthServices authentication). If your app is using a rol

[2017-08-02 14:40] jamestelfer commented on #771
That's right. We're using the HttpModule at present.

The `Saml2AuthenticationModule` class defines its property as follows:
[code]

In the case where this can change from request to request, this might be expressed as:
[code]

It might be good also though to look at the `Options.FromConfiguration` call itself such that the ability to change configuration at runtime is more possible across a wider

[2017-08-02 14:41] christopherbauer opened #773 "Return Url is Ignored when Configuring via Code"
I have a multi-tenant environment that requires we keep our IDP configuration in a database and load it at App_Start for use throughout the day. To facilitate SSO, we've created an MVC controller "SingleSignOn" with actions:

- SSO() - Uses the Url host to determine which single sign on method to use, which includes a "SingleSignOnId" which is passed forward. When determined, redirects to the appr

[2017-08-02 15:04] christopherbauer commented on #773
Actually, I see now that it's a problem at line 61: AuthservicesUrls, which ignores the configuration and always inits the AssertionConsumerServiceUrl to be ModulePath/Acs. Is there a way around this?

[2017-08-02 21:04] AndersAbel commented on #773
The idea with AuthServices is that it will extract the recevied SAML response and validate it for you. That's why it always sets the response to /{ModulePath}/Acs. After the SAML response is processed, the Acs command will redirect to the return url.

You shouldn't make your own ConsumeSaml20Response method, use one of the existing API modules (Kentor.AuthServices.HttpModule, Kentor.AuthServices.M

[2017-08-04 07:42] AndersAbel commented on #771
While the `IOptions` instance that is used can be changed during runtime, the AuthServices structure is not built to have different options per request.

The core `Kentor.AuthServices` library gets the option injected as a parameter, so if you use that directly you can have a per request setting. The HttpModule, MVC Controller and Owin middleware however are not built for per-request settings.

I'

[2017-08-04 07:48] #769 closed

[2017-08-06 03:13] myaesubi opened #774 "Question: IdentityServer3Okta setup - No signin id passed"
Hi,
I wonder whether the setup document for integration of IdentityServer3 and Okta is up-to-date.

I followed all the steps of the document, for example there is no **MetadataUrl** rather **MetadataLocation** when installing the NuGet packages.

Reason for this question is that I've setup as indicated and connected to my IdentityServer3 instance which supports ASP.NET Identity.

Upon sign in to O

[2017-08-06 11:21] AndersAbel commented on #774
1. The Okta documentation is obviously not updated, the `MetadataLocation` property was previously called `MetadataUrl`. If you find issues, please edit the file and submit a pull request (you can do it online).
2. To troubleshoot the issue, please enable the Katana logs (it's an identity server setting) to get the AuthServices log output added to the log.

[2017-08-07 21:34] togakangaroo opened #775 "How does detecting if an account has been disabled work?"
I have Kentor set up and managing logging into my application via the OneLogin IdP.

I am confused at how the application is supposed to know when a user account has been disabled (or had permissions changed) at the IdP. My understanding is that the claims issued by the IdP are with some regularity supposed to "expire", at which point the authentication library needs to reach out to the identity p

[2017-08-08 11:46] AndersAbel commented on #775
The SAML assertion from OneLogin may contain a `SessionNotOnOrAfter` attribute that AuthServices respects for the session length. After that expires, a new authentication is done against OneLogin. If there is an existing session on the Idp, that authentication might be completely invisible to the user.

There is no way in SAML to revalidate an existing session except doing another authentication.

[2017-08-08 11:46] #775 closed

[2017-08-08 15:12] christopherbauer commented on #773
Sorry, my ConsumeSAML20Response method is just what I named it in the back end so that my coworkers (who know very little about SSO) would be able to understand what the "Acs" action was for. I will use a Route attribute to complete the redirect to "/Acs" as outlined here.

I had difficulty finding additional information on how to extract the information from the response after a redirect occurs,

[2017-08-09 19:42] myaesubi commented on #774
Thanks for the response. Surely, I will submit a PR to update the documentation when I get the integration working with changes applied.

I have enabled the logs and the following is the result;parially obfuscated!. I've highlighted the areas of importance that the success and failure happens.

2017-08-09 18:45:39.589 +00:00 [Information] Initiating login to http://www.okta.com/exkbi9j77tgmcPFCQ03

[2017-08-10 10:24] FVilevski opened #776 "System.NullReferenceException inside ProcessAuthenticationStatement method"
Hi, I am having some troubles with processing of response from IdP on the SP side. I am using OWIN implementation for SP and it throws System.NullReferenceException Object reference not set to an instance of an object when reading the response. Here is the StackTrace, if you need additional info, please let me know.

BTW: Both IdP and SP are tested against testshib.org successfully

`at Kentor.Aut

[2017-08-10 20:50] myaesubi commented on #304
@dahlsailrunner,
Hi Erik,
This is an old thread, but I have similar issue though I followed the documentation.

Appreciate any hint
[https://github.com/KentorIT/authservices/issues/774](url)

Thanks a lot,
Mamrez

[2017-08-11 14:05] dahlsailrunner commented on #304
Probably need more info -- what does your code look like and your okta config look like?

[2017-08-11 14:12] myaesubi commented on #304
Thanks. I have detailed out the code and logs in the #774. I'm using AspNetIdentityUserService implementation of IdentityServer3 which uses ASP.NET Identity database as identity provider. This class as you might know already is implementing IUserService.

Implemented the "AuthenticateExternalAsync" override in the same class to create '**AuthenticateResult**' and pass it on.
now 'AuthenticateExter

[2017-08-14 22:16] myaesubi commented on #774
Hi,
 I'm using AspNetIdentityUserService implementation of IdentityServer3 which uses ASP.NET Identity database as identity provider.

I've narrowed down to the location in the '**IdentityServer3**' source code that the **SignInId** is checked.

'**AuthenticationController.cs**'

Line: 348 which checks for 'GetSignInIdFromExternalProvider()
[code]

The code internals will do a call to
`   var resu

[2017-08-15 10:13] janobrestad opened #777 "Different SignatureMethod and DigestMethod"
I have a saml response that have sha-256 as the signature method and sha-1 as the digest method.

`<ds:SignatureMethod Algorithm="http://www.w3.org/2001/04/xmldsig-more#rsa-sha256" />`
`<ds:DigestMethod Algorithm="http://www.w3.org/2000/09/xmldsig#sha1" />`

Authservices gets the mininumDigestAlgorithm based on the signing algorithm in `GetCorrespondingDigestAlgorithm`.

Is this a valid combinatio

[2017-08-15 21:31] explunit commented on #594
One more source of ideas: The Katana OIDC middleware lets you [specify an `ICookieManager`](https://github.com/aspnet/AspNetKatana/blob/v3.1.0-rc1/src/Microsoft.Owin.Security.OpenIdConnect/OpenIdConnectAuthenticationOptions.cs#L289-L292)

The built-in/default cookiemanager could do the identityserver-style automatic removal of cookies over the specified threshold.

And if that's not good enough, a

[2017-08-16 18:24] asilverstein opened #778 "How to turn existing ASP.NET MVC project (using ASP.NET Identity) into SAML identity provider?"
I've read the configuration document, reviewed some of the source code, test-ran all the projects in the solution in VS, and I still have no idea how I would use this code to turn my existing ASP.NET MVC application into a SAML identity provider (the SAML service provider that we want to communicate with already exists). Any help would be great. I have the certificates generated and ready to use.

[2017-08-16 19:13] myaesubi commented on #774
Any insight on this question/issue? It appears some others (as expressed in different threads) also had similar issue and the solution is not known or is unclear.

Thanks,
Mamrez

[2017-08-16 19:14] explunit commented on #778
AuthServices is designed primarily for the service provider/relying party side of the SAML protocol. While there is a "Stub" IDP and some underlying protocol classes, quite a bit of work would be needed to turn it into a production-ready IDP.

[2017-08-16 19:27] alohaninja commented on #666
We are also receiving the same error with our SAML configurations... `No RelayState was detected so message was not expected to have an InResponseTo attribute`. Any word on the fix?

[2017-08-17 18:00] TIN-123 commented on #728
I have the same issue. I am using HttpModule

[2017-08-17 18:42] leotohill commented on #773
@christopherbauer , did you figure out how to extract information at the end? My situation is similar to yours.  Afaict, no contextual information is available to the final response, at returnurl.

@AndersAbel you say that multi-tenant should be fine but you seem to be assuming that the tenant id would be part of the url path.  In my case it is a url parameter.

[2017-08-17 21:02] carl6885 opened #779 "AuthServices IdP Initiated Request"
Hi

Apologies if this is the wrong forum for this but I am trying to implement iDp initiated login using IdentityServer and AuthService stub iDp - SP works fine.

Every time I do it I just see the login screen. Reviewing the logs has helped, I can see that it is parsing the SAML response and claims to authenticate the user however when it redirects to my site to the redirect to IdSrv it suggests t

[2017-08-18 07:31] MartijnKooij commented on #367
There's a new project at the office here where we do need to make the move to SAML2. Could you perhaps consider merging the PR for this issue?

[2017-08-18 18:55] christopherbauer commented on #773
@leotohill I have a working implementation but per above it's not ideal. I can send you the code if you want but I wouldn't want to make it public as I don't seem to be understanding the nuances of kentor.

[2017-08-21 13:47] explunit opened #780 "Compatibility setting for authentication context parsing"
An issue I've seen frequently is a parsing error when the IDP sends something like this:

[code]
We get error like this:
[code]

IDP side is often reluctant to fix this, as they consider their response to be conforming with the spec, e.g. see here: https://www.novell.com/support/kb/doc.php?id=7015106

Would it make sense to add a `Compatibility.IgnoreAuthenticationContextInResponse` setting to sim

[2017-08-22 14:36] AndersAbel commented on #780
Novell is wrong. While the section they reference in the spec doesn't mention anything about absolute vs relative URIs there's a general clause in the spec at section 1.3.2:

But being right/wrong doesn't matter. If an `AuthenticationContextClassRef` i present it will end up as a claim in the generated identity (see [Saml2SecurityTokenHandler source](http://referencesource.microsoft.com/#System.Id

[2017-08-22 16:35] wkrosner commented on #746
A

On Tue, Jul 18, 2017 at 12:49 AM Anders Abel <notifications@github.com>
wrote:

[2017-08-23 14:17] dahlsailrunner commented on #774
If you're still having trouble, can you provide a screenshot of the setup you've done in Okta for this?

[2017-08-23 14:19] dahlsailrunner commented on #343
This is an OLD thread, but I've been doing some experimenting with ReadTheDocs -- which is what IdentityServer4 documentation is written to.  Any interest in me trying to get something like that set up for this repo?  The docs would probably live in their own repo, but could be linked to from here.

[2017-08-23 14:40] myaesubi commented on #774
The issue was the endpoint connection setting which I learned digging through the logs and the AuthServices test and source code.

The other issue was that IdentityServer3 AspNetIdentity setup assumes that if authenticated external provider's user does not exist in the Idsrv3 identity Store, first create it, I did override the function and all is good.

Thanks,
Mamrez

[2017-08-23 14:40] #774 closed

[2017-08-23 15:16] dahlsailrunner commented on #774
Glad you got it resolved!  What was the final version of your endpoint connection setting (can you include the code)?

[2017-08-24 18:10] leotohill commented on #773
I don't see a way to contact you privately. Would you write to me at my name at gmail.com ? Thanks

[2017-08-29 18:36] wkrosner commented on #746
Hi Anders,  Is there any way we can sponsor development of the reported
issue

Encrypted Single Logout Support #746

On Tue, Jul 18, 2017 at 12:49 AM, Anders Abel <notifications@github.com>
wrote:

[2017-08-29 20:47] cherokeestewarthart opened #782 "Any updates on using this with .Net Core fully? I am implementing SAML into my .net core application"

[2017-08-30 15:01] pulverize commented on #782
I'm interested in this as well.

Even though I'm targeting the .NET framework, which I gathered from the discussion in this project should be supported, I have not been able to integrate this with my Core 2.0 solution. It seems like some of the documentation provided is outdated, which I can get around: KentorAuthServicesAuthenticationOptions has become Kentor.Auth.Configuration.Options, for insta

[2017-08-30 15:46] cherokeestewarthart commented on #782
@pulverize

Yes I am running into issues trying to authenticate to Salesforce without seeing a user interface. I originally authenticated it using OAuth, but it needs to be without the user interface. I want all of the signing into Salesforce to be done behind the scene with the end user having to do anything. I have been looking into SAML to do this, but it isn't looking too promising right now.

[2017-08-31 01:33] pulverize commented on #782
I have the same sort of demand for UI-free authintegration (like that @cherokeestewarthart ?). Our in-house web application uses our in-house SAML2 IdP for authentication and the application needs to accept external SSO of the same sort. I'm rewriting the in-house web application which was written in WebForms and trying to make a case for doing so with .NET Core 2.0. I agree, promising would not b

[2017-08-31 03:27] alonstar opened #783 "when logout and relogin again, authservice doesn't set ExternalCookie"
hi,
I use AuthServices with OWIN  in ASP.NET MVC 5.
When I first login, it works perfectly, But if I logout and relogin, I can't get logininfo from ExternalCookie ( I didn't find cooke be set from /AuthService/Auth),
But I can see "Successfully processed SAML response" from log.

PS: SSO provider is SAML 2.0 and doesn't provide logout endpoint.

Could someone tell me how to find out what's wrong w

[2017-08-31 14:04] kspearrin commented on #195
ASP.NET Core 2.0 is now out which probably has a good chunk of breaking changes to the internal methods used in the initial 1.x port that I did. Expect it to continue to diverge more in the future.

[2017-08-31 14:08] AndersAbel commented on #195
I've got some good news to share. I have a sponsor for completing the work by @kspearrin in an asp.net core 1.1 middleware.

I'm still looking for sponsorship for a asp.net core 2 service. Mail me at anders.abel@sustainsys.com if you would like to discuss options.

[2017-08-31 14:10] kspearrin commented on #195
@AndersAbel Any timeline you can share? I'd be willing to look at the 2.0 work after you complete the 1.x officially.

[2017-08-31 14:14] Gillardo commented on #195
would love details on when 1.1 would be complete.... and 2.0 after...

[2017-09-01 03:30] alonstar commented on #783
I found it is because I clear all cookie at logout. if I don't clear cookie, it will work.

[2017-09-01 19:43] corsini2 opened #785 "AuthServices not working in asp.net application."
I am trying to integrate Authservices into an existing ASP.Net application.  I can run your sample application using the stupIDP, from my local machine.  But when I try to move the pieces into the existing application on our web server, I get "Unknown idp  http://stubidp.kentor.se/Metadata".
Is there a common piece missing that could lead to this error?

[2017-09-03 19:31] Jenan opened #786 "IdentityServer4 sample - SAML2 protocol implementation"
Hello,

Are you planning create a samle for IdentityServer4 with .Net Core?

I am happy that is possible to use SAML2 with IdentityServer3 and it will be greate if will be wit IdentityServer4 as well. :)

Thank you

[2017-09-04 07:43] AndersAbel opened #787 "Transfer and Rename of the project"
After 8 years at Kentor the time has come for me to [move on](https://coding.abel.nu/2017/09/going-independent/). TLDR; I will bring Kentor.AuthServices over to my new company [Sustainsys](https://sustainsys.com). I will continue to support existing support contracts signed with Kentor and I am open for new support contracts (mail me at anders.abel@sustainsys.com)

As part of the transfer I need t

[2017-09-04 07:44] AndersAbel commented on #787
My own suggestion is `Sustainsys.Saml2`.

It is simple and explains what it does as well as connecting it with a brand name. When I first created the library I had an idea that it would contain various authentication and authorization helpers - hence the name AuthServices. As it turned out it has become a Saml2-only library, so I think using that as a name is a better fit.

[2017-09-04 08:08] AndersAbel commented on #272
Obsolete by #787.

[2017-09-04 08:08] #272 closed

[2017-09-04 10:21] AndersAbel commented on #786
There will be a sample with IdentityServer4, once there is a solution that supports it.

[2017-09-04 10:21] #786 closed

[2017-09-04 10:23] AndersAbel commented on #785
Looks like you've configured your application to not use the Stubidp but still tries to sign in using the StubIdp.

[2017-09-04 10:23] #785 closed

[2017-09-04 10:27] #760 closed

[2017-09-05 08:22] Jenan commented on #786
What do you mean with solution that will be supported?

Thank you for clarification. :)

[2017-09-05 10:36] riccardogozzi opened #788 "Saml2SubjectConfirmationData does not contain a notBefore value"
Hi there
I'm trying to use the Kentor.AuthServices with a SAML SP that requires the NotBefore attribute. Having looked at the ClaimsIdentityExtensions class I can see that a value isn't passed in. Could you please update to include the NotBefore value by default? Don't know if it will impact others?
Kind regards
riccardo

[2017-09-05 13:51] dahlsailrunner commented on #787
Congrats on arriving at your decision!  Name sounds fine to me -- I just wanted to reiterate that I would be totally willing to help get docs for the new library set up if you still would like the help.  I've been spending some time with ReadTheDocs lately and really like the platform.  If you're interested in the help / support on this, just let me know.  And you have my +1 vote for your name sug

[2017-09-05 14:00] Jenan commented on #786
OK, I see. Thank you.

[2017-09-06 08:26] woric commented on #787
Naming is always hard, it's a bitch, and often dependant on luck, and changing a name is always problematic.

If staying with the existing name is not an option, then choose something that people will associate with the project.

I suggest Abel.Saml2 or Anders.Saml2

[2017-09-07 00:12] toadicusrex opened #790 "Question on implementation... hopefully not just theory"
Here's our situation.  We have an API that is protected by IdentityServer3.  That API is consumed by a SPA app.  We are in the process of trying to hook up our first IdP directly to the API through AuthServices, and I think I've gotten a long way into it but honestly I'm spinning my wheels.  So:

1. This will always be IdP initiated SSO.  There will be a link in the client companies' SSO for their

[2017-09-07 00:20] toadicusrex commented on #790
Let me add a little more.  I have the AuthServices component working in the API, obviously, not the SPA app... is it ok to originate from the API?  I did notice that the AuthServices component originally modified my url to change the external host to the host of the API during signin, which obviously drew a 404. Hopefully this doesn't all sound like rubbish.

[2017-09-07 11:38] AndersAbel commented on #790
You should add AuthServices as an external authentication method to your IdSrv3 instead and let both the SPA and the API authenticate against IdSrv3.

Using AuthServices directly in an application only makes sense for classic web applications where things are done server side and a cookie is used to preserve the session. With anything more modern/advanced than that, the SAML2 protocol doesn't work

[2017-09-07 11:38] #790 closed

[2017-09-07 11:58] MartijnKooij commented on #787
Congrats on the new phase in your life.

Not sure if branding should be part of the product name (even when it is a very sustainable brand name ;) ). Since we are posting suggestions I would say something more general such as SAML2.net.

[2017-09-07 13:34] ghanashyaml commented on #787
Congratulations for your new job!

I would think its best to not associate the project with your employer name
since you are sharing it with the community. If you are working on it as
part of your employer's payroll time, then it would make sense. Otherwise,
I would recommend to rename it to something generic Saml2.Net.

On Thu, Sep 7, 2017 at 7:58 AM, Martijn Kooij <notifications@github.com>
wrot

[2017-09-07 15:30] toadicusrex commented on #790
Thank you for the response, Anders.  That's actually what I'm trying to accomplish. Our API hosts IdentityServer3 and AuthServices endpoints - and I think AuthServices is plugged into IdentityServer3 correctly, though I did discover that I'm getting an error when the SPA calls the authorize endpoint after it's getting the redirect from the AuthServices endpoint.  It looks like that might be the ro

[2017-09-08 12:23] MartijnKooij opened #791 "Best practice for handling saml response status codes"
The Dutch IdP requires you to differentiate between a canceled login and all other errors in the login processs.
The problem is, they return a response status with an AuthnFailed second lever status to indicate the user has canceled the login. The authservices framework appears to capture all exceptions in the middleware and only exposes a general "error = acces_denied" to the outside world. I thi

[2017-09-08 19:34] toadicusrex commented on #790
Awesome!  Got it working.  The problem was actually that Logging wasn't working properly for IdentityServer3 and I wasn't seeing the response - after getting logging working it was actually really easy to get the rest of the implementation done, and I had my first completely working POC last night!  Many thanks!

[2017-09-09 00:23] freelancer42 opened #792 "CreateClaims "Sequence contains more than one element""
I'm trying to use this with a Nexus Hybrid Access Gateway IdP. Everything seems to work fine when I'm just using password authentication at the IdP, but when I'm switching to authentication using a chained IdP I'm getting this exception:

[InvalidOperationException: Sequence contains more than one element]
   System.Linq.Enumerable.SingleOrDefault(IEnumerable`1 source) +5923580
   Kentor.AuthServi

[2017-09-11 09:53] alonstar commented on #783
I found it !
https://coding.abel.nu/2014/11/catching-the-system-webowin-cookie-monster/

[2017-09-11 09:53] #783 closed

[2017-09-12 11:39] AndersAbel commented on #787
Thanks for your comments and encouragement.
@woric Thanks for putting that level of confidence in my name, but I don't really like the idea to have my own name. Can't say why, but it feels a bit wrong.
@MartijnKooij Saml2.net is simple, but I think it's a bit too generic. There are other similar projects (e.g. https://github.com/i8beef/SAML2) so I prefer a more distinct name.
@ghanashyaml Sustains

[2017-09-13 13:46] JohanHeyvaert commented on #684
Hi everyone,

We had a similar problem (User.IsAuthenticated always returned false).

A relic from a previous config turned out to be the cause:
[code]
Removing that line fixed the problem.

Hopefully this helps someone out.

[2017-09-13 17:45] premnathj commented on #666
We are also having the same issue wherein sporadically we get this error. Requesting you to give us the workaround or fix.

[2017-09-14 09:02] #407 closed

[2017-09-14 09:12] mattbrooks2010 opened #793 "Change request: Make all `Kentor.AuthServices.WebSso.*Command` classes public"
The following `ICommand` implementations are public:

- `Kentor.AuthServices.WebSso.SignInCommand`
- `Kentor.AuthServices.WebSso.LogoutCommand`

The following are not:

- `Kentor.AuthServices.WebSso.AcsCommand`
- `Kentor.AuthServices.WebSso.MetadataCommand`
- `Kentor.AuthServices.WebSso.NotFoundCommand`

Making these implementations of `ICommand` public would be useful for consumers of the `Kentor

[2017-09-14 14:49] avatart0ph commented on #762
did you figure this out? i dont need to change the acs url. but i need to change the index
anyway, i read you have to change PublicOrigin property but that didnt work for me.
for example if i set it to http://localhost:50975/public-origin/saml, the destination in the saml response is
Destination="http://localhost:50975/public-origin/saml/AuthServices/Acs"

...if you look at the code, Acs is hardco

[2017-09-14 15:35] avatart0ph opened #794 "Found SAML response success but cannot login"
Kentor returns null on var loginInfo = await AuthenticationManager.GetExternalLoginInfoAsync(); but in firefox, i found the SAML response with a success status code.

My worse case scenario is to write  write my own assertion but I am not giving up just yet on this tool kit. How do I configure Kentor to accept uid in attributes?

[code]
my code is
[code]
is it also a problem if the idp is wso2?

[2017-09-14 18:40] avatart0ph commented on #794
I figured that the Idp was giving the wrong EntityID. and changing it in .xml doesn't work.
So i changed it here and commented out the metadata location because if i change it in new EntityId it throws another error:

`var idp = new IdentityProvider(new EntityId("https://somethingidp/saml-sso"), spOptions)
            {
                //LoadMetadata = true,
                //MetadataLocation = "~

[2017-09-14 18:42] explunit commented on #794
why doesn't calling `Kentor.AuthServices.Configuration.Options.GlobalEnableSha256XmlSignatures()` on startup work?

[2017-09-14 18:48] explunit commented on #794
Sorry, ignore previous comment. I'm curious though... do you get a different message if you use `http://www.w3.org/2000/09/xmldsig#rsa-sha1` instead of `SHA1`?

[2017-09-14 18:53] avatart0ph commented on #794
It returns this
Message = "The signature verified correctly with the key contained in the signature, but that key is not trusted."

[2017-09-14 18:54] explunit commented on #794
that sounds like a cert mismatch

[2017-09-14 18:54] avatart0ph commented on #794
Just wondering how do you call `Kentor.AuthServices.Configuration.Options.GlobalEnableSha256XmlSignatures()` ? do i just place it in CreateSPOptions() (p.s. i am using the  sample owin project)

[2017-09-14 18:55] avatart0ph commented on #794
I'm not sure if cert mismatch is the case because I already have the response with a success status code. It fails on /AuthServices/Acs

[2017-09-14 19:00] explunit commented on #794
If you have not received the public key ahead of time (either through loading IDP metadata or configuring https://github.com/Sustainsys/authservices/blob/master/doc/Configuration.md#signingcertificate-element), you will get the error about untrusted key (even if the status says Success inside the SAML)

[2017-09-14 19:46] avatart0ph commented on #794
I commented out the cert. It works now. I got it working but got another error.
https://github.com/Sustainsys/authservices/issues/238

Just wondering, does it have to be the same url as my application or can I use the production url i.e.
http://produrl.com/AuthServices ? it doesnt really state in the documentation

@explunit thank you for taking your time to help me out

[2017-09-14 19:55] explunit commented on #794
Your entity id can be any URI value. it does not have to correspond to the real location of the application.

[2017-09-14 23:01] mitsufu commented on #503
Hi @AndersAbel,
I've made my first test from your SampleOwinApplication and my Adfs server.

- I've configured the Relaying Party from the metadata issued from /AuthServices successfully.
- The sample worked directly, Kentor owin extension is passive with ExternalCookie, "KentorAuthServices" appeared on the login page and jumps successfully to the adfs login page. When redirecting back to my servi

[2017-09-15 08:53] mitsufu opened #795 "Logout not called in passive mode/external cookie"
Hi @AndersAbel,

I've realized I posted this in comment on a closed issue...
Not sure you can see it, so I put here also :)

I've made my first test from your SampleOwinApplication and my Adfs server.

I've configured the Relaying Party from the metadata issued from /AuthServices successfully.
The sample worked directly, Kentor owin extension is passive with ExternalCookie, "KentorAuthServices" ap

[2017-09-15 13:12] BrianLytle opened #796 "Authenticating across multiple applications"
I am using Kentor Authentication service within my MVC application (AppA) and it works great. However, I want to now be able to navigate to a different MVC application (AppB) from a link that is in AppA and avoid being sent to the IdP login page. My understanding was that the IdP would recognize that I had already logged in and simply redirect back to the requesting URL. Is that possible?

[2017-09-15 13:16] explunit commented on #796
Yes, that's right. AppA and AppB should coordinate authentication only by depending on the same IDP. The IDP is responsible for remembering (e.g. via cookies) that the user is already authenticated and automatically redirecting back to AppB with the SAML response. There are some parameters where the RP (e.g. AppB) would request that the IDP re-authenticate the user, but I don't think that's the de

[2017-09-15 13:19] BrianLytle commented on #796
When I click on the link for AppB, I am always being redirected to the IdP Login Page (I am using the StubIdP for now). In AppB, how do I check to see if the user has already been Authenticated?

[2017-09-15 13:20] explunit commented on #796
I haven't checked the code, but I suspect that the Stub IDP lacks the logic that a real IDP would have for detecting that the user is already authenticated.

[2017-09-15 13:22] BrianLytle commented on #796
That would be a great answer! I will have to verify this once I have our
true IdP setup. Thanks for your help!!!

~ Brian

On Fri, Sep 15, 2017 at 9:20 AM, Steve <notifications@github.com> wrote:

[2017-09-15 13:27] avatart0ph commented on #794
thanks @explunit. it works now.

[2017-09-15 13:28] explunit commented on #794
You're welcome.

[2017-09-15 13:28] #794 closed

[2017-09-15 13:29] explunit commented on #796
You're welcome.

[2017-09-15 13:29] #796 closed

[2017-09-15 13:43] avatart0ph commented on #794
to anyone who was in the same boat as me,
using .Net4.5 and the idp returns sha1...
this works
`MinIncomingSigningAlgorithm = "http://www.w3.org/2000/09/xmldsig#rsa-sha1"`

and this is the propertery of SPOptions

[2017-09-15 17:41] RobSiklos commented on #725
I vote that it be handled with a notification. Something like `CookieCreated`, where you pass the `CookieOptions` as well as some information about why the cookie is being created (or cleared). The user would therefore have the opportunity to modify any of the properties on the options object.

[2017-09-18 09:22] desjoerd commented on #367
Hi, I've created a new PR to support this which doesn't contain version bumps of .Net and Owin. I hope this can be merged. I hope you've got time to look at this :).

[2017-09-19 05:37] jamestelfer commented on #771
Thanks @AndersAbel I'll do this. The way we integrate Kentor is slightly different to normal, but fits your suggestion really well. I can adapt to a per-request model fairly easily.

Thanks for those who've replied to this issue, I really appreciate your time, and it's helped a lot.

[2017-09-19 05:37] #771 closed

[2017-09-20 11:45] aleha84 opened #799 "choose programmaticaly entityId based on page url"
stackoverflow [link](https://stackoverflow.com/questions/46318289/kentor-auth-services-choose-programmaticaly-entityid-based-on-page-url)

I'm integrating our asp.net MVC application with SAML2 Authentication. And using Kentor.AuthServices as module as described at kentor.AuthServices Configuration

Everithing works fine. But next step is to add usage of second service provider (which configured t

[2017-09-20 17:43] explunit commented on #794
Thanks. I have added this value to the documentation.

[2017-09-20 18:44] bjogi-idc opened #800 "Kentor.AuthServices.Mvc : InResponseTo Error"
Hello,

I am trying get response from Google IDP (SAML 2.0)  using Kentor.AuthServices.Mvc library. When I redirect back from Google IDP with Response  at AuthServicesController/ACS method, I get following Error :
Server Error in '/' Application.

Expected message to contain InResponseTo "ided37bd21191545918653e5b8826d3a12", but found none.

Description: An unhandled exception occurred during the

[2017-09-21 09:59] jahmai commented on #776
Same, it only seems to happen if they enable assertion encryption.

[code]

[2017-09-21 13:28] BrianLytle opened #801 "Logout Response Not Signed Error"
I am receiving an error telling me that the Logout Response is not signed, but it is. It is signed using SHA1 and I have the minIncomingSigningAlgorithm attribute of the kentor.authservices element set to SHA1. Any idea why I might be getting this error?

minIncomingSigningAlgorithm="SHA1"

[2017-09-21 14:16] explunit commented on #776
@FVilevski and @jahmai: are you able to post the SAML that caused this error?

[2017-09-21 14:23] jahmai commented on #776
I could, but how would you decrypt it?

[2017-09-21 14:31] explunit commented on #776
😄  Yes, you're right

One hack to get to the underlying assertions is to handle the `AcsCommandResultCreated` notification and then use reflection to invoke the `retrieveAssertionElements` method on the Saml2Response.

[2017-09-21 20:40] explunit commented on #801
Someone else reported that when running under .net 4.5 they had to use `http://www.w3.org/2000/09/xmldsig#rsa-sha1` instead of `SHA1` for minIncomingSigningAlgorithm. Could this be the issue?

[2017-09-21 21:58] jahmai commented on #776
So this error is happening in our production system against a customer who has loaded that systems service provider metadata, so I can't attach a debugger or alter the code with a hack to grab that context and I can't get the customer to point their IdP to a development environment, so unfortunately that's not an option :(

They've disabled encryption and it's now working, really sorry that I can'

[2017-09-22 12:24] BrianLytle commented on #801
That wasn't my issue. Anders figured out my issue for me. There was not encryption on the incoming message. Thanks for your time Anders!!!

[2017-09-22 12:24] #801 closed

[2017-09-22 14:22] #195 closed

[2017-09-22 14:22] AndersAbel commented on #195
Turned out the sponsor wanted to go straight to 2.0, so now there is an ASP.NET Core 2 service in master. Tests are of course appreciated, I'll prepare a release as well.

[2017-09-22 14:28] AndersAbel opened #802 "Metadata support in ASP.NET Core2 service"

[2017-09-22 14:28] AndersAbel opened #803 "Logout support in ASP.NET Core 2 Handler"
Including augmenting claims (if possible in this model)

[2017-09-22 14:42] AndersAbel commented on #803
Including augmenting claims (if possible in this model)

[2017-09-22 14:49] kspearrin commented on #195
Great! Looking forward to using it soon when we upgrade to 2.0

[2017-09-23 06:30] edleno opened #804 "Error with null StoredRequestState.ReturnUrl"
Just pulled down the latest, did the build, but when I test with any of the samples when I select "Sign in - default IDP" it takes me to the discovery service page for the local stubidp.  Is it supposed to do that?  If I run the externally provided stubidp.kentor.se it goes straight to the login page and then everything works.

When I get the discovery service page everything looks to be filled ou

[2017-09-23 06:55] edleno commented on #804
Sorry, didn't mean to put IdentityServer3 in the title.  This problem has nothing to do with that.

[2017-09-25 07:32] AndersAbel opened #805 "Check Asp.NET Core2 AuthenticationSchemeOptions base class properties"
The Saml2Options class inherits from the AuthenticationSchemeOptions base class. Currently it ignores everything in there which is probably not a good idea. Check what those properties are and fix correct behaviour.

[2017-09-25 07:33] #802 closed

[2017-09-25 21:43] explunit commented on #776
@jahmai Do you know if the response/assertion was encrypted, or also the NameId? I don't think this library supports encrypted NameId.

[2017-09-25 21:56] jahmai commented on #776
NameID encryption may have been enabled initially yes, which we subsequently disabled all encryption and it started working. Good to know that Kentor doesn't support it, I'll make that a standard requirement to disable it at our customers.

[2017-09-26 14:29] redapplewithleaves opened #807 "The Saml2Response must have status success to extract claims."
Saml2 Second Level Status: urn:oasis:names:tc:SAML:2.0:status:InvalidNameIDPolicy
![image](https://user-images.githubusercontent.com/9419314/30865497-a472f69e-a28b-11e7-90db-e7429020ff55.png)

Currently my nameIdPolicy is set to:
`    <nameIdPolicy allowCreate="true" format="Persistent" />`

I've been asked to add the following lines to the resulting in the Service Provider Metadata after `</KeyDe

[2017-09-26 16:49] explunit commented on #807
Would it work to use the `MetadataCreated` or `MetadataCommandResultCreated` notifications to customize the generated metadata? E.g. see here https://github.com/Sustainsys/Saml2/issues/473#issuecomment-220157016

[2017-09-26 16:58] redapplewithleaves commented on #807
Where would you recommend to put the `metadataCreated`?

[2017-09-28 01:05] explunit commented on #804
I am also seeing this error with the MVC Sample and the local Stub IDP in the master branch, but not in the v0.21.2 tag that corresponds to the released nuget version. I will tag as bug but in the meantime you might need to use the published nuget or checkout and older revision such as v0.21.2.

Regarding the use of discovery service in the sample, this is done to exercise supported features but i

[2017-09-29 10:00] Gillardo commented on #195
Is there an example on how to add this to a aspnet core project and setup?

[2017-10-02 10:57] andreujuanc commented on #195
I will be implementing this. Will post any issues. (In new issues).

Thanks for this!

[2017-10-02 11:07] Gillardo commented on #195
Example would be helpful if anyone can help me implement this?

[2017-10-02 11:13] andreujuanc commented on #195
https://github.com/Sustainsys/Saml2/tree/master/Samples/SampleAspNetCore2ApplicationNETFramework
That might help you a bit.

[2017-10-02 11:48] Gillardo commented on #195
and is there a nuget package to install for aspnet support? I cannot see anything regarding installing anywhere...

[2017-10-02 12:58] andreujuanc commented on #195
No, sorry. I just got the sourced, and it built ok.
Ill be working on this maybe these week.

[2017-10-02 13:30] AndersAbel commented on #195
@Gillardo No nuget yet, you'll have to build it yourself from source for now.

@andreujuanc Thanks for trying out and reporting back!

[2017-10-03 08:28] andreujuanc commented on #195
@AndersAbel @Gillardo
I added Sustainsys.Saml2.AspNetCore2 to my solution and referenced it into my project. Then, in Sustaninsys, I removed kentor from project-referecences and add them back as NuGet packages.

Also, this does not support dotnet core 2 target, but it does support aspnetcore 2. For me is not an issue tho, since my servers run windows :) So i changed my target to 462. Will try on 4

[2017-10-03 10:46] andreujuanc opened #809 "Relaystate cookie lost in ASP.NET Core handler"
Hello,
Using Sustainsys.Saml2.AspNetCore2.

When /Saml2 gets posted from Okta HandleRequestAsync responds to browser with a file.

It's my first time dealing with this protocol., i always used OpenId.

How should I debug this?

commandName = context.Request.Path.Value.Substring(
                    options.SPOptions.ModulePath.Length).TrimStart('/');

returns "", which means give me the file., but

[2017-10-04 11:14] AndersAbel commented on #809
The endpoint for the Assertion Consumer Service that Okta should post to is `/Saml2/Acs`. The `/Saml2` path will return the metadata of the SP.

[2017-10-04 11:28] andreujuanc commented on #809
Thanks for reply, I did exactly that few hours ago, i didn't update the issue because I had a conference call.

Changed the path to /Saml2/Acs but it's throwing this:

Is there any config prior to setting this up?  I have "exactly" the same as in the sample.

[2017-10-04 11:31] andreujuanc commented on #809
I can see that expectedInResponseTo is null, but parsedInResponseTo is not.
I will dig out where does expected comes from .

[2017-10-05 11:56] AndersAbel commented on #809
Looks like something that needs to be investigated. I'll try to reproduce it.

[2017-10-05 14:41] andreujuanc commented on #809
I don't know much about the project and Saml, but I think there must be a cookie before redirecting to the IP. Cos that cookie is somehow set when it comes back, but it firsts checks it and then sets it. So when i press F5 its already there and sends it on the request.

[2017-10-05 19:16] AndersAbel commented on #809
The correlation cookie is set when issuing the 303 to redirect to the Okta Idp. Then it is checked when the response from Okta is received. The name of the cookie is carried in the RelayState parameter of the Saml2 request/response. It's both a matter of carrying state and protecting against login CSRF.

[2017-10-05 19:48] andreujuanc commented on #809
Good tip. Will check that. My project is using all projects sources directly, so I can easily debug this.

[2017-10-05 22:01] andreujuanc commented on #809
While debugging I found that when creating a HttpRequestData for the post from okla, request.Cookies has zero items.

I will have to install fiddler or similar to sniff the actual communication to see where is the problem, if in aspnet/dotnet or in okla.

[2017-10-05 22:54] andreujuanc commented on #809
Can it be that Okla is making the post, but the actual request does not pass through the browser, or does not takes the cookies with it? Maybe some setting, like the fetch option` credentials: "same-origin"` , you get the idea.

At this point, I feel like it can be on Okta side, since I CAN CONFIRM that Kentor is sending the cookie right on the redirect response.

I will open an issue with them. W

[2017-10-06 13:38] andreujuanc commented on #809
I just tried it in Firefox and Edge and it works. Can it be a Blink issue, since it also failed in Opera?

[2017-10-11 07:04] Newbe36524 opened #810 "It will throw a exception System.Web.HttpException if IDP only support HTTP-POST binding logout"
It will throw a exception System.Web.HttpException if IDP only support HTTP-POST binding logout

## Summary

If only support HTTP-POST binding logout, "SampleIdentityServer3" will not work with a System.Web.HttpException throwed from IdentityServer3.

## How to show the problem

1. remove the HttpRedirect logout support from IDP Metadata

[code]

2. run the Kentor.AuthServices.StubIdp and SampleId

[2017-10-11 12:00] AndersAbel commented on #810
This is an issue with how the Owin pipeline works. When an authentication middleware such as Kentor.AuthServices is run, it is not guaranteed that the headers can still be changed and content written.

To work around the specific case with IdSrv3 + Saml2 Post binding would require looking at the source of both to see where it's easiest to adjust it.

But the easiest of all would of course be that

[2017-10-12 01:24] Newbe36524 commented on #810
Yes,this is ok to use  the Redirect binding for me .
I will keep this issue opened for tracing the problem.

[2017-10-12 02:53] edleno opened #811 "Q: Is there a way to change the login URL based on parms from the http request?"
Using the http module, and I want to pass some debugging parms from the requesting URL to the login page url.  I've successfully implemented the notification method AuthenticationRequestCreated, but I haven't found a way to bootstrap back to the either the asp.net HTTP Request, or AuthServices wrapped HttpRequestData.  Any way to find the original URL that is causing the authentication request?

[2017-10-12 17:13] redapplewithleaves commented on #807
I added it to the XML, but it seems to make no difference since the sign-in function does not even enter the generate xml code.

[2017-10-12 19:09] mcnallys opened #812 "Hard coded encryption algorithms prevent using this package in a FIPS environment"
There are 2 different areas of the code preventing correct operation on a FIPS compliant machine.

"this implementation is not part of the Windows Platform FIPS validated cryptographic algorithms."

This stems from using the  RijndaelManaged symetricAlgorithm in CryptographyExtensions and some other issues that can be corrected in RSAEncryptedXML  using some of the code from

http://referencesourc

[2017-10-12 21:54] rossiter10 commented on #540
So....how would one do this? I would like to add/remove IdPs in a controller action later on.

[2017-10-13 13:29] AndersAbel commented on #540
@rossiter10 No, there is no Owin best practice as the Owin context is instantiated per request. In most cases you can just put it in a static property somewhere. If you have multiple instances of the owin middleware you need something more specific, but that's a quite rare case.

[2017-10-13 13:39] AndersAbel commented on #812
Yes, I'd be willing to accept a PR to fix this. And I appreciate to have a discussion before you go ahead. One potential problematic place is the fix for when the cryptographic service provider associated with the certificate doesn't support SHA256: https://github.com/Sustainsys/Saml2/blob/c66a835af1a4acfd46051cf95a19a4093e15bf2f/Kentor.AuthServices/Internal/CryptographyExtensions.cs#L63

For a Nu

[2017-10-13 13:49] AndersAbel commented on #807
The metadata publishes information on what `NameIDFormats` your application accepts. You can alter those in the `MetadataCreated` notification.

The `NameIDPolicy` of the `AuhtnRequest` should match one of those in the metadata. `Persistent` is not a valid standard value, you should use `urn:oasis:names:tc:SAML:2.0:nameid-format:persistent`.

[2017-10-13 13:49] #807 closed

[2017-10-13 13:53] AndersAbel commented on #811
I never thought of passing the original HTTP Request down to the notifications. For the HttpModule you can work around it by accessig `HttpContext.Current.Request`. But that will not work very well with the owin module (only if hosted on IIS, where you can use `HttpContext.Current.GetOwinContext()`) and for ASP.Net Core it won't work at all.

A way to handle this would be to extend the notificatio

[2017-10-13 13:59] redapplewithleaves commented on #807
Can you give an example of altering the `MetadataCreated ` notification?

I see this in the code:

[code]

Where would you recommend to put the metadataCreated?

[2017-10-13 14:20] AndersAbel commented on #807
@redapplewithleaves I'm sorry, but this is as far as I can help for free (which the issue tracker is). If you are interested in my commercial support options, please mail me at anders@sustainsys.com and I'll be able to help.

[2017-10-13 14:21] redapplewithleaves commented on #807
Alright. Thanks for the offer and thanks for making this product.

I'll have to move on to different options then.

[2017-10-13 16:13] rossiter10 commented on #540
@AndersAbel Thanks for the response! I think I have this working, but wanted to clarify something(and maybe it helps others). It wasn't working when I tried to just simply find the existing IdentityProvider and modify the EntityId and MetadataLocation. I think I was getting "unknown idp" errors.  What did work though was creating a new IdentityProvider instance and replacing the existing one, does

[2017-10-13 18:29] AndersAbel commented on #540
@rossiter10 Changing the entity id of an existing IdentityProvider object would confuse things, as the EntityID that is used as the key to the dictionary wouldn't get updated. I never thought of the option that someone would do that.... Is it a bug that it is possible to do that?

[2017-10-13 19:27] rossiter10 commented on #540
Well, here's the use case I'm experimenting with, which probably is pretty uncommon. We want to add/remove providers on the fly, so we have a form where we can manage SAML providers, which includes the entity id and metadata location. So maybe someone enters or pastes the wrong value for entity id and needs to update it. So my first quick attempt was just simple upsert logic where I update the Ent

[2017-10-16 09:04] inazdv opened #814 "LogoutRequest from Shibboleth IdP fails"
testing with Kentor.AuthServices.Owin from NuGet (version 0.21.2):

a LogoutRequest from our Shib IdP ends with a System.NullReferenceException in Saml2LogoutRequest.FromXml().

As I conclude from source here in GitHub, the AuthServices tries to find xml tag NameID, but the LogoutRequest from our IdP is encrypted and thus contains a tag saml2:EncryptedID.

Can I force AuthServices  to decrypt the

[2017-10-16 10:09] inazdv commented on #814
ok, seems to be a duplicate of issue #746?
Any news about support for encrypted logout requests?

(we don't receive a 404 as in issue #746, but a 500, because of unhandled NullReferenceException)

[2017-10-16 10:41] #814 closed

[2017-10-16 11:25] EricSpeidel opened #815 "Metadata not available for ASP.NET Core 2.0 implementation"
In order to register my SP with my IDP, I have to supply them with Metadata describing my SP.
This used to be available at ~/AuthServices, and should now be available at ~/Saml2 as @AndersAbel mentioned. However, accessing this will throw the following exception:

`System.InvalidOperationException occurred
  HResult=0x80131509
  Message=Incorrect Content-Type:
  Source=Microsoft.AspNetCore.Http

[2017-10-16 11:43] EricSpeidel opened #816 "Using online stub IDP in ASP.NET Core 2.0 throws exception"
Somehow, using the local IDP that comes with the sample application the login process goes smoothly. However, when trying to use a different IDP with the Core2.0 implementation, the InResponseTo ID doesn't seem to be handled correctly.
Here's what I did:

1. Build latest version from Github
2. Change Startup.cs in the provided SampleApplication (or adding it to any existing App) to add Saml2 Authe

[2017-10-16 12:01] EricSpeidel commented on #815
Tested with Chrome and Edge. Same outcome.

[2017-10-17 10:20] inazdv opened #817 "picking one IdP from federation metadata"
I want to load metadata from federation so I specified federations `<federations>` in web.config (federation containing  multiple IdPs and SPs).

Then I want to pick one particular IdP out of the federation via its entityId and thus specified `<identityProviders>`. But then I receive the exception "Missing signing certificate configuration on Idp ...". Why specify the signing cert, if it is alread

[2017-10-17 18:53] bdzevel opened #818 "Using Owin Middleware with SQL Server session state seems to drop cookies"
I am using the Owin Middleware approach (Kentor.AuthServices.Owin project). I spent a while attempting to integrate Kentor into my application with no luck until I disabled the session state. We use SQL Server session state. Note that the default session state which is in-memory seems to work fine, and turning session state completely off seems to work fine as well.

What seems to happen is that -

[2017-10-19 09:07] AndersAbel commented on #818
Thanks for posting. The conflict is a known issue with Katana: https://coding.abel.nu/2014/11/catching-the-system-webowin-cookie-monster/

[2017-10-19 09:07] #818 closed

[2017-10-19 09:09] AndersAbel commented on #817
If the Idp is present in the metadata referenced by a federation, don't add it in an `<identityProviders>` entry. That will add it twice to the internal collection of identity providers.

[2017-10-19 09:11] AndersAbel commented on #809
Looks like this is still an open issue. Reopening since this is the original.

[2017-10-19 09:12] AndersAbel commented on #816
Duplicate of #809

[2017-10-19 09:12] #816 closed

[2017-10-19 09:14] AndersAbel commented on #540
A private set of the EntityId on the IdentityProvider would make initialization harder. What might work is an internal freeze flag that sets the EntityId to non mutable once it's been added to the IdentityProviders colleciton.

[2017-10-19 09:17] AndersAbel opened #819 "Make IdentityProvider.EntityId immutable after added to identityprovider collection"
Add an `internal` flag that makes the EntityId of an IdentityProvder immutable once it's been added to the IdentityProvider collection to remedy the scenario commented in #540.

[2017-10-19 09:42] mdesousa opened #820 "ReadMetadata with EntityDescriptor argument"
It would be useful to provide a ReadMetadata method for the IdentityProvider that accepts an EntityDescriptor argument (instead of an ExtendedEntityDescriptor).
To provide some background, I am working on a SAML integration where the Service Provider may not have access to the Identity Provider. This is common for Service Providers hosted on the cloud that need to accept a SAML ticket from an ente

[2017-10-19 11:49] AndersAbel commented on #820
Would this be solved by #736? Or do you think both reading from a stream and reading a "plain" EntityDescriptor is needed?

[2017-10-19 12:08] mdesousa commented on #820
#736 would also provide a way to solve this problem, but it means that you have to download the MetaData yourself... which is frankly trivial. In general, I think it would be useful to provide an ability to load resources from streams and not just urls... so that would probably apply to MetadataLoader.LoadIdp() as well. The ability to read metadata from plain EntityDescriptor provides another way

[2017-10-20 19:45] explunit commented on #819
IdentityProvider.EntityId is already a private setter. Do you mean the ID property of the EntityId object (System.IdentityModel.Metadata)?

[code]

This probably should be implemented with #637 in mind

[2017-10-21 16:21] explunit commented on #809
This is a SameSite cookies issue due to the new defaults in ASP.NET Core 2. See linked PR #822. It only happens in Chrome because the others lack support for this standard. It worked for retried request because then the request *was* coming from same site.

[2017-10-21 16:21] explunit commented on #816
SameSite cookies issue -- see discussion in #809

[2017-10-23 06:00] inazdv commented on #817
suggestion: add a whitelist to `<federations>` element to select the allowed IdPs

[2017-10-23 13:08] andreujuanc commented on #809
Issue can be closed as soon as the PR gets merged.
Thanks to all.

[2017-10-23 16:58] AndersAbel commented on #817
@inazdv That kind of is against the idea with a federation. Handle that as an authorization filter instead, disallowing certain Idps.

[2017-10-23 17:00] #809 closed

[2017-10-24 06:02] inazdv commented on #817
I think, that depends on your environment:
it is quite usual in education to have federation metadata with all university IdPs of one country, which is centrally managed and is the only legal source for cooperations. And from there you want to select the institutions relevant for one project. But of course we can implement a custom discovery service for that.

There are even Meta-Federations like

[2017-10-24 23:19] explunit commented on #772
Closing due to inactivity

[2017-10-24 23:19] #772 closed

[2017-10-25 02:21] bhupendrasaini12 opened #825 "Kentor AuthService give the error=access_denied in mvc"
the auth request:

<saml2p:AuthnRequest xmlns:saml2p="urn:oasis:names:tc:SAML:2.0:protocol"
                     xmlns:saml2="urn:oasis:names:tc:SAML:2.0:assertion"
                     ID="id325ab97009864cadaa9fe323232c97e4"
                     Version="2.0"
                     IssueInstant="2017-10-25T02:01:32Z"
                     Destination="https://somedomin.com/nidp/saml2/sso"

[2017-10-25 18:49] agrady42 commented on #812
I'm interested in this as well -

For discussion - is there a way to set the algorithm used with configuration (even if it's something as simple as "useFipsCompliantAlgorithm=true" and document that this will cause problems with providers that don't support SHA256)?

For the rest - is there anything I can do to help with the PR?

[2017-10-25 18:55] agrady42 commented on #812
Open mouth, insert foot. Somehow I missed PR#813 just above my comment - thanks @mcnallys !

Just waiting on the release then.

[2017-10-26 11:50] swathibaggam opened #826 "ID4149: The Saml2SecurityToken is rejected because the SAML2:Assertion specifies a OneTimeUse condition. Enforcement of the OneTimeUse condition is not supported by default."
Getting below error when trying to login  to IDP .
Please let us know whether we can set OneTimeUse  in Kentor configuration?
Please let us know how to fix this issue

**System.IdentityModel.Tokens.SecurityTokenValidationException: ID4149: The Saml2SecurityToken is rejected because the SAML2:Assertion specifies a OneTimeUse condition. Enforcement of the OneTimeUse condition is not supported by def

[2017-10-26 12:36] cauxmika opened #827 "Idp login page every time"
Hello,

    I'm using Kentor as an IDP and my application is the SP.

On the first access to my application url :
1. My application send an AuthnRequest to IDP.
2. IDP send his login page and is displayed to the end user.
3. On login button pushed, my application receive a valid saml response and redirect to my application with a valid sso connection.

So, this part is ok 👍

But, I don't understan

[2017-10-26 12:42] explunit commented on #827
This is just the behavior of the "stub" test IDP. Most production IDP's I've seen will do as you describe and simply redirect back with SAML unless you specify the force authentication in the authentication request.

[2017-10-26 12:44] cauxmika commented on #827
Many thanks for this quick response :-)

So, we can't test this behavior with Kentor "stub" test IDP. Thanks.

[2017-10-26 12:53] #827 closed

[2017-10-27 13:37] prashanthbachu commented on #666
I am also seeing this issue but it's random and not easy to recreate.

[2017-10-30 06:00] sanattiwari opened #828 "Question - What are the signing and service certificates"
Hi, We are using kentor auth services for implementing SAML in ASP.net application.
This is not an issue but a question, want to understand what is a signing certificate and who will provide this certificate?

Is it like identity provider has to provide one certificate which has to be used by service provider to verify signatures after receiving the saml response?

Please clarify? we may be using

[2017-10-30 07:20] AndersAbel commented on #828
The signing certificate of the Idp is the public key you get from the Idp
The servicecertificate configured as part of the SP config is only needed if you do single logout or signed AuthnRequests. In that case it is a (probably self-signed) cert that you create for your app.

[2017-10-30 07:21] #828 closed

[2017-10-30 09:12] sanattiwari commented on #828
Thanks Ander. So it means signing certificate has to be provided by the Idp so that we can use it to verify if messages are coming from right Idp or not? is this also used to decrypt the SAML response coming from Idp?
Regarding service certificate, I am using Asp.Net HttpModule and in its sample, below configuration is provided. This means the requests going out of application (SP) is signed using

[2017-10-30 15:46] AndersAbel commented on #828
Yes, you are right.

The Stub Idp is *not* doing the validations required by a real Idp. Yes, in a real setup you would have to send the public key of the SP certificate to the Idp - or better give them your metadata Url so that they can download all relevant info themselves.

[2017-10-30 16:00] #815 closed

[2017-10-30 16:09] AndersAbel commented on #819
@explunit You're right. I obviously already did what I can. #637 ill definitely be relevant for this, but it still has the same problem: The class is not immutable.

The basic problem is that a property of the IdentityProvider is used as the key to the dictionary it is stored in. If you change the property after it's been added to the dictionary they will get out of sync.

I don't think there's an

[2017-10-30 16:14] #804 closed

[2017-10-30 16:14] AndersAbel commented on #804
Fix looks good, but I don't understand what changed to cause the bug.

[2017-10-30 16:17] AndersAbel commented on #817
Looks like this is a relevant issue. I'm still reluctant to add more stuff to the configuration. I would rather implement some kind of filter callback on the federation metadata reader. What do you think about that?

[2017-10-30 16:22] AndersAbel commented on #825
Turn on logging, it should show what's wrong.

[2017-10-30 16:22] #825 closed

[2017-10-30 16:25] AndersAbel commented on #826
Yes, it's related to that PR. Until that is merged, this won't work.

[2017-10-30 16:25] #826 closed

[2017-10-30 16:26] AndersAbel commented on #666
@premnathj That's not how open source work. Either you help out by finding a reliable reproduction that we can use to test it, or you get in touch with me to do the work as payed consultancy work. But I don't have time to just do things for free.

@prashanthbachu Are you sure it only occurs when clicking the back button?

[2017-10-30 21:25] AndersAbel commented on #793
I might be positive if there's a good reason. Why isn't `CommandFactory` a viable option for you?

[2017-10-30 21:27] AndersAbel commented on #799
Answered on Stack Overflow:

Using two different SP instances in the same application is a quite rare scenario. But if you are really sure you need it, it can be achieved.

You will have to use the Kentor.AuthServices.Owin package and do the configuration in code - web.config won't do. Register two instances of the middleware. Each one will have their own configuration, including their own SP Enti

[2017-10-30 21:27] #799 closed

[2017-10-31 02:07] sanattiwari commented on #828
Thanks a lot Anders

[2017-10-31 23:11] mrfatgoat commented on #558
@AndersAbel I'm having this exact problem right now and the IdP isn't willing to fix their end.  Can you elaborate a bit on how to do the workaround you're talking about.  It may be my only option, unfortunately.

[2017-11-01 08:56] mattbrooks2010 commented on #793
`CommandFactory.GetCommand` is static and so doesn't lend itself to mocking. If the concrete `ICommand` implementations were public, application code could take a dependency on `ICommand` and concrete instances could be created directly and injected.

[2017-11-01 10:15] sanattiwari opened #829 "Question - How can we use kentor authservices to authenticate webservice"
Currently we have web forms application, which has some web services inside it.
We are changing authentication part of web form app to use SAML with identity provider as NAM.
There are some webservices in it which should be called by passing credentials like username or password in soap header.

How these web services should be changed now? since there wont be user name password inside the app now

[2017-11-01 15:53] kjbetz commented on #752
Thanks, @kb99!

[2017-11-01 18:58] prashanthbachu commented on #666
@AndersAbel it occurs even if back button is not clicked.

[2017-11-03 03:10] sanattiwari commented on #829
Any feedback on this?

[2017-11-03 05:20] sanattiwari opened #830 "Which SAML profiles are supported by this library"
Which of the below profiles are supported by this AuthServices?

1. Web browser single sign-on (identity provider and service provider initiated)
2. Single logout
3. Artifact resolution
4. Identity provider discovery
5. Authentication, attribute and assertion query
6. Name identifier management and mapping

[2017-11-03 07:54] #752 closed

[2017-11-03 07:55] AndersAbel commented on #666
@prashanthbachu That is interesting, because this is something we've heard of for a long time but never been able to reproduce. Can you please clearly document how to trigger this without using the back button?

[2017-11-03 07:58] AndersAbel commented on #829
This is a major design issue for your application and not something that can simply be answered. So it's not a good fit for the issue tracker. If you want commercial consulting services on the design of your solution, please mail me at anders@sustainsys.com.

[2017-11-03 07:58] #829 closed

[2017-11-03 08:00] AndersAbel commented on #830
1. Web SSO is supported, but SP and Idp initiated)
2 Single Logout is supported.
3. Artifact resolution is supported when sending AuthnRequests and Logout messages to the Idp. It is not supported for receiving Logout messages from the Idp.
4. If by "Identity Provider Discovery" you mean a discovery service it is supported.
5. AuthnRequests are supported. Not attribute or assertion query.
6. No nam

[2017-11-03 08:00] #830 closed

[2017-11-03 08:03] AndersAbel commented on #793
Ok, so this is a case where you are coding directly against the main Kentor.AuthServices library, without using the HttpModule, Mvc, Owin or AspNetCore2 packages?

That is an advanced scenario, but one I want to support. So I'm positive to making the commands public. Please go ahead with a PR. I don't think tests even make sense in this case (how would you even test it?) so for once there's a code

[2017-11-03 08:17] AndersAbel commented on #558
@mrfatgoat This pops up repeatedly, reopening issue. I'm currently doing work on moving away from System.IdentityModel to use the new Microsoft.IdentityModel nuget package that is planned. This is part of the effort to make the library compatible with ASP.NET Core. I'm opening an issue in their repo to see if they would be willing to add a compatibility setting/option.

[2017-11-03 17:03] robertpmansion commented on #666
@AndersAbel this might help. We have a web app that has multiple subdomains. Each subdomain is designated to one of our clients. During development of implementing SAML2, the metadata is using the main domain that we use for internal or any users who are not our client. So basically one of the clients has the URL: https://client.company.com requesting to their Idp from our SP however in the metada

[2017-11-03 17:29] jjdettmann commented on #195
@Gillardo Did you use _System.IdentityModel.Metadata_ in your solution to establish the identity of the ServiceProvider? For me, I'm receiving the following error: _The type or namespace name 'IdentityModel' does not exist in the namespace 'System' (are you missing an assembly reference?)_

[2017-11-03 18:01] Gillardo commented on #195
I haven't tried it yet.. I wanted an example of it. Also I wanted to be
able to configure without using web.config.

On 3 Nov 2017 17:29, "jjdettmann" <notifications@github.com> wrote:

[2017-11-03 18:57] AndersAbel commented on #195
@jjdettmann It only works on the full framework and not on .NET Core. And you have to add an assembly reference to System.IdentityModel.
@Gillardo You can configure it without web.config. It's probably not even a good idea to use web.config in an asp.net core project.

[2017-11-03 21:39] mrfatgoat commented on #558
@AndersAbel Thanks for the update.  I'll be attempting a roll to the aspnetcore branch of AuthServices soon.  Eager to see how it goes and to contribute if I can.

[2017-11-04 11:41] mattbrooks2010 commented on #793
Yes, that is correct.

Thanks, will do.

Assuming you're referring to unit tests, I agree.

The value of any new tests would be to ensure the classes _remain_ public, as this would be an easy way to break consumers of the `Kentor.AuthServices` package in the future. In my opinion, tests like this are not really suitable in the form of unit tests. It would be much more effective to have an test pro

[2017-11-05 18:45] AndersAbel commented on #793
Fixed by #831

[2017-11-05 18:45] #793 closed

[2017-11-06 07:04] inazdv commented on #817
that would be the perfect solution for us

[2017-11-06 16:16] Gillardo commented on #195
Do we no when a nuget or my-get version will be available? Got other developers and bit of a pain trying to get them to download src etc

[2017-11-06 16:28] AndersAbel commented on #195
@Gillardo I haven't had time to test it through myself and I don't want to make a Nuget until it's at least somewhat stable.

Has anyone made any covering tests of Sign in (all different bindings for both AuthnRequest and SamlResponse)? Metadata is more simple to test - if it is displayed, it works (although I think that the content type might still be missing)

[2017-11-06 16:29] AndersAbel opened #832 "Expose metadata in ASP.Net Core 2 handler"
Expose metadata in the ASP.NET Core 2 handler, and check that the content type is correctly set.

[2017-11-06 23:35] andreujuanc opened #833 "Dotnetcore 2 and Notifications"
Hello,

I subscribed to the notifications but they were not firing. It was weird. I tried to set any to null, and didn't work. I had to change the Notifications property and add a set method, then I created my own Instance, but not in the constructor like it is now. AND IT WORKED. I'm confused. Can it be a dotnetcore 2 issue?

Best regards.

[2017-11-07 04:18] mrfatgoat commented on #833
I had the same issue and I'm working on a PR to fix this.  Should be up in the next day or two.

[2017-11-07 08:46] AndersAbel commented on #833
Thanks for noticing this. I've commented on the PR.

[2017-11-07 17:27] andreujuanc commented on #833
I see now the code, every time Notifications was access it returned a new instance. Right?
I thought I was crazy.

[2017-11-07 23:14] payneBrandon opened #835 "Question: Separate MVC and Web Api Applications"
I've been searching through the documentation, and through forums for the last couple days and cannot find an answer to this question, so figured I'd post it here.

I currently have a software solution comprised of an MVC application, and two Web Api services (separate projects).  The system currently uses Asp.Net Identity, and we are trying to move this over to accommodate SSO using SAML.  I have

[2017-11-08 07:47] AndersAbel commented on #835
SAML2 was created long before REST APIs existed, so they don't play well together. Keep OAuth2 for authenticating to the API.

A common approach is to add an IdentityServer3 instance that handles the SAML2 authentication (Sustainsys.Saml2/Kentor.AuthServices can be used as external auth for IdSrv3) and then let both your MVC app and the API use OIDC against the IdSrv3. See the SampleIdentityServer

[2017-11-08 07:47] #835 closed

[2017-11-08 07:49] AndersAbel commented on #833
@andreujuanc Yes it does. I actually wrote a blog post about the syntax, but still got it wrong :( https://coding.abel.nu/2017/10/expression-bodied-vs-auto-read-only-properties/

[2017-11-08 14:51] payneBrandon commented on #835
I was wondering if proper solution would involve setting up an IdentityServer instance to handle this.  Thanks for the help!

[2017-11-08 15:07] ErikMolnarSoftronic opened #836 "Problems With Implementing SLO with Kentor.Authservices"
Hi there.

I am working on a project where Single Logout is required and the service uses the Kentor/Sustainsys as the SAML engine. I have read many similar posts regarding the same issue, among others the closed issue "Single Log out - what is required to be implemented in SSO Logout endpoint #459", since I believe I am facing a very similar problem and I have learned quite a bit. However, I am s

[2017-11-08 15:10] explunit commented on #836
Maybe the IDP just needs to fix the return URL. Do you know where the IDP got this URL? Was it manually configured or was it pulled from your SP metadata? Unlike authentication requests, logout requests do not specify the return URL and the IDP just uses what it has on file for that SP.

[2017-11-08 15:37] ErikMolnarSoftronic commented on #836
I do not know excactly how the IDP got that information, but now when I take a look at the metadata in our development enviroment (this particular IDP is only used in our dev-enviroment), I can clearly see that this is included:

<SingleLogoutService Binding="urn:oasis:names:tc:SAML:2.0:bindings:HTTP-Redirect" Location="https://saml.vs.stc13034.dev/Saml/Logout" />

....however logout and signout a

[2017-11-08 15:42] explunit commented on #836
Yes, that's my theory.

[2017-11-09 07:07] PeterThornley opened #837 "Adding Subject to Saml2AuthenticationRequest"
Hi there
Apologies if this is not the correct forum for this question...

I'm trying to add a <saml: subject> element to a Kentor.AuthServices.Saml2P.Saml2AuthenticationRequest but not having much luck.  When setting up the KentorAuthServicesAuthenticationOptions I can see that as part of the the Notifications we can assign the AuthenticationRequestCreated Action which would allow me to update the

[2017-11-09 08:23] ErikMolnarSoftronic commented on #836
You were absolutely correct. I found a 'SingleLogoutService' configuration at the development IDP that pointed to the page that did not exist, namely Saml/Signout. I changed it to point to the home page of the application and it now redirected correctly. However, the user (me) is not prompted to enter his credentials when logging in again.

In other words, I am seeing the same effect as when I jus

[2017-11-09 11:52] ErikMolnarSoftronic commented on #836
I was able to get a complete logout to work now by killing the session locally as well with the following code:

Session.Abandon();

In other words, the logout for the AuthServices/Logout method worked to logout the user from the IDP, but not locally.

Anyway, I have achieved what I set out to do. Thank you for pointing me in the right direction!

[2017-11-09 14:05] explunit commented on #836
The correct logout url should be available in your SP metadata in the `<SingleLogoutService>` tag. This is what the IDP should be using to return the logout response or to inform your application that the user wants to log out (IDP-initiated logout, for lack of a better term).

The SP metadata is available by default at the root `/AuthServices` path. Ideally, the IDP consumes your metadata directl

[2017-11-09 14:05] #836 closed

[2017-11-09 14:15] Jenan commented on #786
I can see the version on the .NET Core 2.0. - do you plan the sample for IdentityServer4?

[2017-11-09 15:15] corsini2 opened #839 "Can you have Idp return to a different retrunUrl"
I have SSO working with the HttpModule so that when a user comes to the start page of my application, they see a link to sign on.  clicking the link takes them to the idp and returns them to the returnUrl set in the web.config.
the link is similar to this:
                LoginLink.InnerHtml = "<a href = ""AuthServices/SignIn?idp=" & HttpUtility.UrlEncode(EntityId) & """ > Sign In</a>"

Now I want

[2017-11-09 15:58] andreujuanc opened #840 "IdP-flow - Authentication Property "LoginProvider" not set"
Hello,

I successfully implemented authentication with Okta and Saml2. But when trying IdP-flow it fails.

After debugging for a few minutes i found that LoginProvider is not in the RelayData.

Is it something I have to do manually? (I'm using AcsCommandResultCreated) or RelayData should be handled by the middleware somehow?

Cheers

[2017-11-10 06:55] #833 closed

[2017-11-10 07:33] AndersAbel commented on #786
@Jenan Yes.

[2017-11-10 07:46] #780 closed

[2017-11-10 08:40] ErikMolnarSoftronic commented on #836
Indeed. The implementation of this functionality is mainly being done in order to supply our IDP with SLO addresses in the SingleLogout tag in our metadata.

Do you know how to edit this <SingleLogoutService> metadata tag? It is currently configured to something incorrect. I am experimenting around with the <metadata> tag in web.config, but have not found a way to edit this particular part of the

[2017-11-10 19:16] explunit commented on #836
What value is showing up in your SP metadata and what did you think it should be instead?

Also, which mode of AuthServices are you using (HttpModule, OWIN, or MVC nuget)?

[2017-11-11 10:45] AndersAbel commented on #836
The Logout endpoint in the metadata is not directly editable. You can change the base path by changing `ModulePath` (as I guess you've already set to `Saml`).

When things are correctly set up you should not need to do a `Session.Abandon()` to get logged out - the login session should be handled by the `SessionAuthenticationModule` and not by the session system. The Idp should redirect/post the lo

[2017-11-13 09:59] AndersAbel commented on #840
Is this with IdentityServer?

[2017-11-13 10:00] AndersAbel commented on #839
Yes, Just add a ReturnUrl=%2Fprotected%2Fpage query param in the call to SignIn.

[2017-11-13 10:00] #839 closed

[2017-11-13 10:04] AndersAbel commented on #837
The library doesn't (yet) support adding a Subject to the AuthnRequest. Duplicate of #430

[2017-11-13 10:04] #837 closed

[2017-11-13 10:06] AndersAbel commented on #817
@inazdv I'm setting this on the todo-when-I-have-time-list. Is this anything you would be willing to contribute with a PR? Or would you rather sponsor development of this feature?

[2017-11-13 10:07] AndersAbel commented on #666
@robertpmansion Thanks, this is a solid pointer to where to look.

[2017-11-13 11:28] AndersAbel commented on #558
@mrfatgoat Microsoft accepted my suggestion, so when the .NET Core version of the library is made public (it's still under private development) this will be fixed.

[2017-11-13 11:28] #558 closed

[2017-11-13 15:21] xiang207571 opened #841 "Not Able To Get StubIdp Source Code Work"
In a recent SAML SSO test project, I was able to use the provided Stub Idp site to work with my SAML authentication (i.e.,http://stubidp.kentor.se/ and http://stubidp.kentor.se/Metadata).  However, after I downloaded the source code and set up a local Stub Idp site, it did not work.  Based on my trace, the stub idp's reponse object has all the informaton before posting the SAML assertion.  However

[2017-11-13 17:36] mrfatgoat commented on #558
@AndersAbel Great news!  Thanks for the update and for bringing this to their attention.  I'll keep an eye out for changes.

[2017-11-13 17:38] tomceulemans opened #842 "Single Logout - LogoutNameIdentifier"
Hi,

We are using (multiple) SAML2 AuthServices instances in combination with IdentityServer3. When logging out, we get the message `Doing a local only logout.` instead of initiating a single logout.

Instead of getting the EntityId.Id as value of the `LogoutNameIdentifier` claim we seem to be getting the value of `AuthenticationType` instead, which causes the lookup of the idp to fail as it expec

[2017-11-13 17:54] andreujuanc commented on #840
Nope. Just a token after auth and that's it.

For now I set it on AcsCommandResultCreated. It works fine.

Is this normal? Should I debug this and post more data/info?

[2017-11-13 20:51] AndersAbel commented on #840
What is this LoginProvider value? What did you expect it to be?

[2017-11-13 20:55] AndersAbel commented on #842
I'm not sure that the logic for the automatic federated logout handles multiple middleware instances.

A workaround is to set the `StrictOwinAuthenticationMode` compatibility flag and then adjust the logout call to only invoke the right middleware instance (based on the authentication type)

[2017-11-14 06:30] inazdv commented on #817
up to now we did not make a decision whether we will switch to your library

[2017-11-14 11:25] Gillardo opened #843 "SAMLRequest is not correct as unable to decode"
I am using a SAML2 provider for aspnet core, but had a few problems with them with updating things etc so trying to implement this one instead.

I believe i have set everything up with the following settings (cannot show URLs on public pages)
![image](https://user-images.githubusercontent.com/7406381/32777411-eedbecfe-c92d-11e7-839f-842dd736905e.png)

Now everything loads up etc (edited the sample

[2017-11-14 11:30] ErikMolnarSoftronic commented on #836
@explunit  I have managed to manipulate the the metadata generation so that it now displays the SLO address which I want it to point at. Previously, it displayed, https://saml.vs.stc13034.dev/Saml/Logout, but it now displays https://saml.vs.stc13034.dev/Account/Signout/Saml, which is our logout page at our service. I am using the Kentor.AuthServices, Kentor.AuthServicesHttpModule and the Kentor.Au

[2017-11-14 13:51] #841 closed

[2017-11-14 14:01] AndersAbel commented on #843
Can you mail me the URL that is created on the Redirect so that I can check it (anders@sustainsys.com)?

The `AssertionConsumerServiceUrl` isn't configurable and should not be - it's part of the validation of the incoming response. However you can set a redirect url where the Saml2 handler will redirect the browser after a successful validation by the assertion consumer service. Check the sample a

[2017-11-14 14:10] Gillardo commented on #843
@AndersAbel sent you an email with details, thanks

[2017-11-14 15:37] AndersAbel commented on #843
Debugged, found out it was an Idp issue.

[2017-11-14 15:37] #843 closed

[2017-11-14 17:40] justinSelf commented on #739
Looks like Kentor is dependent upon classes that haven't been implemented in Mono yet.

[2017-11-14 18:06] AndersAbel commented on #739
@justinSelf What is your scenario for wanting this to run in Mono? If you want to run it on Linux, would .NET Core be an option?

[2017-11-15 07:46] AndersAbel opened #844 "Incorrect entity id generated for stub idp when run in subdirectory"
If the stubidp is configured to run in a sub directory, it generates an incorrect entity id for itself. Running it in the subdirectory `http://localhost/LocalIdp` gives entity id `http://localhost/LocalIdpMetadata` which is obviously missing a slash.

[2017-11-15 08:21] #844 closed

[2017-11-15 08:51] chrisnott commented on #250
I really need this functionality and am loathe to fork the repository and use my own custom version to achieve this. I realise that it is not a priority but there is an open PR - any chance that this will be looked at soon?

[2017-11-15 08:59] AndersAbel commented on #250
@chrisnott It's in the backlog and I can't give you any date on when I have time to work through it.

Current status is that I'm more or less keeping up with new issues coming in, but I've still not had time to work with the backlog.

I took a quick look on the PR and I'm a bit concerned about the approach taken there, especially that it looks like tests are only done on the MVC module. I think th

[2017-11-15 09:00] #842 closed

[2017-11-15 09:00] #840 closed

[2017-11-15 09:02] AndersAbel commented on #817
@inazdv It's up to you if you want to use it. It's open source and free to use in the current state, but if you want me to add specific features, that's something I do on a commercial basis.

[2017-11-15 09:07] AndersAbel commented on #810
Closing this as won't fix as there is an acceptable workaround using the Redirect Binding. Also, IdSrv3 is slowly phased out in favour of IdSrv4 which is based on Asp.Net Core.

[2017-11-15 09:07] #810 closed

[2017-11-15 09:09] AndersAbel commented on #800
Use the Google Chrome Saml DevTools extension to check the contents of the SAML messages. Looks like something is incorrectly configured on the Idp side.

[2017-11-15 09:09] #800 closed

[2017-11-15 09:11] AndersAbel commented on #795
The issue is two month old and I never had time until now to look at it. Closing as inactive, please comment if you still need help.

[2017-11-15 09:11] #795 closed

[2017-11-15 09:17] AndersAbel commented on #792
Yes, the code for extracting `SessionNotOnOrAfte` is expecting there to be at most one AuthenticationStatement.

In your scenario, does both of them contain a `SessionNotOnOrAfter` setting? I think that the right way to handle this would be to get the earlieast expiration if there are multiple.

[2017-11-15 09:19] AndersAbel commented on #791
I think that this could be solved by providing a notification that is called when the status is received (both if it is success and if it is a failure) and provide the status information as a param. Then you can run your own code and handle it the way you want. Would that work?

[2017-11-15 09:21] AndersAbel commented on #788
This looks like a specific issue to your setup but nothing that is required by a lot of users of the library. If you want I can do it as commercial consulting, but it's nothing I can prioritize otherwise. Mail me at anders@sustainsys.com if you want to discuss options.

[2017-11-15 09:21] #788 closed

[2017-11-15 09:24] AndersAbel commented on #782
Work is under way with a .Net Core version, I'm aiming at a public release before the end of the year.

[2017-11-15 09:24] #782 closed

[2017-11-15 09:25] AndersAbel commented on #779
Closing as this is an old question that was never answered. Please comment if it is still a problem.

[2017-11-15 09:25] #779 closed

[2017-11-15 09:53] freelancer42 commented on #792
Yes they do, and I agree that sounds like the best way to handle it.

[2017-11-15 11:59] AndersAbel commented on #792
I'll put this on the todo list. But as you might have noticed it's quite extensive. If you need this feature completed, please consider submitting a PR or contact me at anders@sustainsys.com to sponsor the work.

[2017-11-15 12:43] RaulAlon opened #845 "Connecting to external IdP"
Hi!

I'm pretty new in SAML and I'm having some problems/questions with my project that I wanted to solve.
What I want to do is to configure my project to use an external cllient IdP. For that, I only have the url with the metadata of my IdP client and the url that I should use to connect with him. (To make this connection I'm using the sample "SampleMvcApplication").

I post my current Web.config

[2017-11-15 16:25] explunit commented on #845
You probably don't want the federation config if you have just a single idp.

You should just need to tell it to load the metadata for your IDP, something like
[code]

Then you don't need to configure the signing certificate or signonurl since it they come from the metadata.

If your IDP's entity id is the same as the metadata url then you can omit the metadataLocation tag

[2017-11-15 22:40] mrfatgoat opened #847 "Case-sensitive ModulePath"
In the AspNetCore2 project, `Saml2Handler` has the following check in `public Task<bool> HandleRequestAsync()`.

`if(context.Request.Path.StartsWithSegments(options.SPOptions.ModulePath, StringComparison.Ordinal))`

This performs a case-sensitive comparison between the specified ModulePath and the incoming URL segment.  Is this intentional or can this be loosened by using `StringComparison.Ordinal

[2017-11-15 22:43] mrfatgoat commented on #847
Looks like this was asked once before for an older version: #570

[2017-11-16 05:57] AndersAbel commented on #847
Duplicate of #570

[2017-11-16 05:57] #847 closed

[2017-11-16 06:02] AndersAbel commented on #570
@mrfatgoat The reason that this is case sensitive is that i just happend to, there's no thought behind it. I think that we should follow whatever case settings that Microsoft's handlers for Owin and ASP.NET Core use. Anyone knows (or can check?)

[2017-11-16 12:39] RaulAlon commented on #845
@explunit Thank you so much for your response. I have tried it and it seems like this configuration is working, but now I have some issues with the client. I think that my client needs the metadata info from my service provider to register this one into his identity provider, but I don't know how to generate it. Do you know how to do it?

Thanks again!

[2017-11-16 19:52] explunit commented on #845
By default the metadata from your SP should be available at the root of your AuthServices path in your web application

[2017-11-16 21:05] premnathj commented on #293
Hi.. Greetings! I am using the kentor authservices APS.net MVC controller flow .. And I have configured the settings in the web.config.. Our Idp is Okta and things are working fine.. Now we have a use case to force the authentication.. As I explored, I need to set the ForceAuthn in the authentication request. But I don't know how to achieve this. Could you please let me know how to go about it? -

[2017-11-16 23:09] justinSelf commented on #739
Core isn't an option for our scenario, yet. We aren't running production mono, but many of our devs use Rider+MacOS+Mono. For now, I've just disabled SAML auth if the platform isn't windows.

[2017-11-17 06:23] AndersAbel commented on #293
Hook the AuthenticationRequestCreated notification and set the ForceAuthentication flag.

[2017-11-17 06:26] AndersAbel commented on #739
I'm working on a version for .NET Core, which will eventually be targeted to .Net Standard. Then Mono should work.

[2017-11-17 06:27] #845 closed

[2017-11-17 10:35] chesteryhi opened #848 "The signing algorithm <...sha1> is weaker than the minimum accepted <...sha256>"
I know there is a very similar post about the issue ([https://github.com/Sustainsys/Saml2/issues/672](https://github.com/Sustainsys/Saml2/issues/672)), but what I get this time is "sha1" is weaker than the "sha256" instead.

I got this error once when I am using the .Net Framework 4.5, but it was "sha256" weaker than "sha1" just like the mentioned post, and it is gone when I changed it to 4.6.2.
A

[2017-11-17 10:47] AndersAbel commented on #848
In this case the error message is correct. The Idp has sent you a response signed with rsa-sha1. The default minimum accepted level is rsa-sha256. You should tell the Idp people to change to rsa-sha256 as rsa-sha1 is no longer considered secure. If they don't want to change, set the minIncomingSigningAlgorithm to "rsa-sha1" to supress the warning.

[2017-11-17 10:47] #848 closed

[2017-11-17 16:58] netachar05 opened #849 "Cookie not set for multiple SAML IDP"
Our application is authenticated for multiple Shibboleth IDP using KentorAuthServices.  Challenge works fine but, HttpContext.Current.GetOwinContext().Authentication.AuthenticateAsync(DefaultAuthenticationTypes.ExternalCookie)  fails to return the principal if multiple identity providers are configured.

I found that if it is a single provider, the request will have a cookie .AspNet.ExternalCookie

[2017-11-17 17:02] KevinMVTransit commented on #849
I banged my head on this one too, until i read this line.

See Selecting IDP
https://github.com/Sustainsys/Saml2/blob/599a12cf36c79c5def25c7f6d6862c7d0fda38b4/doc/OwinMiddleware.md

Another, more simple way to pass a value is to put it directly in the Owin environment dictionary under the key "KentorAuthServices.idp".

Here's an example of how to set the Owin environment value through ASP.NET MVC

[2017-11-17 17:43] netachar05 commented on #849
Thanks Kevin.  The challenge is working fine, get authenticated and is routed back to our application.  We do back an authenticatesync after this challenge which is failing.  The only difference I see is the cookie name and value for same IDP, if muliple identity providers are configured.

I tried adding the element to environment before authenticating, which didn't help.

[2017-11-17 17:48] KevinMVTransit commented on #849
Ahh, well I dont know if this helps, but After challenge, I could not extract the info and found out that the IDP was SHA1.  By default, this projects minimum is SHA256.

Had to add:
spOptions.MinIncomingSigningAlgorithm = "http://www.w3.org/2000/09/xmldsig#rsa-sha1";
After that, the claims were coming thru like a champ.

And, I have added multiple IDPs.

Hope this helps.

[2017-11-17 18:07] netachar05 commented on #849
@KevinMVTransit , That too didn't help.  I had pasted the piece of code I am trying with.  The cookie value set by kentor seems to be corrupted.

var authServicesOptions = new KentorAuthServicesAuthenticationOptions(false)
			{
				SPOptions = new SPOptions
				{
					EntityId = new EntityId(org.Realm),
					ReturnUrl = new Uri(org.Realm),
					Organization = organization,
					ModulePath = "/Auth

[2017-11-17 18:47] KevinMVTransit commented on #849
Im using the OWIN path and not MVC. So I have not had any experience with that one.
Good luck.

Thank you,
Kevin Cornelison
Application Developer
MV Transportation, Inc.

From: netachar05 [mailto:notifications@github.com]
Sent: Friday, November 17, 2017 12:08 PM
To: Sustainsys/Saml2 <Saml2@noreply.github.com>
Cc: Kevin Cornelison <kevin.cornelison@mvtransit.com>; Mention <mention@noreply.github.co

[2017-11-17 20:08] AndersAbel commented on #849
@netachar05 Did you add multiple identityproviders to one middleware instance? Or did you register multiple middleware instances?

[2017-11-17 20:30] KevinMVTransit commented on #849
Add multiple idps to one service

[2017-11-17 20:38] AndersAbel commented on #849
@KevinMVTransit Yes, I see that you did that, but it's not clear if @netachar05 did that. Both ways are possible, but different stuff get complicated depending on what you choose. One middleware instance => need to pass idp selection (as you noted). Several => need to separate module paths.

[2017-11-17 20:43] KevinMVTransit commented on #849
I recommend having one Service Provider and add multiple IDPs.
Just like what is in the sample app.

[2017-11-19 02:35] premnathj commented on #293
Thankyou @AndersAbel.
I was not using the OWIN startup as I was using just configuration in the web.config.
Now I have added the OWIN startup class and added the below code.
[code]
Please let me know if this is enough?. If not the please share some guidance.
Thanks

[2017-11-19 03:08] netachar05 commented on #849
@AndersAbel,  @KevinMVTransit,  Thanks for the suggestions.  I am adding multiple multiple middleware instance for each IDP, since the organization id and return url are different for multitenant environment of same application.  Module path is specified for each instance by specifying public origin.  Only for the first instance external cookie is set in correct format, while for the remaining ins

[2017-11-19 11:52] AndersAbel commented on #849
@netachar05 You need to set separate module path's for each instance as well. Even though you have different public origins, the first middleware instances will always be triggered. If you enable logging, I'm sure you'll see a message that the idp is unknown.

[2017-11-19 11:53] AndersAbel commented on #293
@premnathj Did you test it? Does it work? There's a nice plugin to Google Chrome called SAML Dev tools that can be used to see the decoded SAML messages.

[2017-11-19 15:44] premnathj commented on #293
Hi Anders,

Thanks of the chrome plugin. No, ForceAuthn doesn't work and I don't see
its set in the request.
Requesting you to send me some idea/code to make it work in my MVC app.

Thanks & Regards,
Prem

On Sun, Nov 19, 2017 at 6:53 AM, Anders Abel <notifications@github.com>
wrote:

[2017-11-19 15:48] KevinMVTransit commented on #849
@netachar05 , I see.  3 weeks ago, I have never heard of SAML, so I have only used the One Service Provider with multiple IDPs.  I may be in the same situation as you some day, Please post if you find the solution.

[2017-11-19 22:31] premnathj commented on #293
Hi Anders,

Thanks for the plugin. I see the ForceAuthn set to "true" in the saml authentication request. Things seem to be working fine. :)

Thanks a lot. :)

[2017-11-20 06:11] sanattiwari opened #850 "Question: Is this library using tokens present in System.IdentityModel.Tokens"
Microsoft has SAML2 token support in System.identitymodel.Tokens namespace. Are we using these tokens in this library or everything is custom implementation?

Thanks!
Sanat

[2017-11-20 06:32] AndersAbel commented on #850
@sanattiwari The library is built upon System.IdentityModel.

[2017-11-20 06:32] #850 closed

[2017-11-20 11:49] RaulAlon commented on #845
Thanks @explunit !

[2017-11-20 16:27] RaulAlon opened #851 "Service provider metadata structure"
Hi!

I'm trying to generate a service provider metadata file to setup a federation with my client but I'm not sure if  the structure and the differents fields for this document are complete.
Like @explunit told me in the issue  [#845](https://github.com/Sustainsys/Saml2/issues/845), I'm downloading my service provider metadata from the url /AuthServices. That file contains the following XML code:

[2017-11-20 16:29] AndersAbel commented on #851
The default metadata is trimmed down, but contains all the stuff needed for sign on.

A certificate is generally not needed for sign on only implementations. If you add a certificate (which is required for log out) it will automatically be published in the metadata and the logout endpoints will show up too.

[2017-11-20 16:29] #851 closed

[2017-11-20 16:41] RaulAlon commented on #851
So, if I have understood correctly, if my client uses this metadata file, it could register my service provider in his idp without any other data?

[2017-11-20 16:51] netachar05 commented on #849
@AndersAbel , How can I assign different module path for each instance?  Any value other than "/AuthServices" assigned to this property fails at provider level mentioning misconfiguration in request.

[2017-11-20 17:11] AndersAbel commented on #851
@RaulAlon Yes.

[2017-11-21 10:58] RaulAlon commented on #851
Thanks @AndersAbel!

[2017-11-21 18:55] netachar05 commented on #849
@AndersAbel , @KevinMVTransit ,  Since module path didn't help, I had followed @KevinMVTransit suggestion and changed the code for single instance and multiple IDP with IDP property added before challenge, which resolved the issue.  Thanks both of you for the help and suggestions.

[2017-11-21 18:55] #849 closed

[2017-11-21 20:31] kj1981 opened #852 "Having issues with Logout"
I have integrated kentor in my mvc application and using okta as the provider. I have setup okta and the login works all fine. It is the logout with which I am stuck and not able to proceed further.  Below is the code I use for logout:
`<a href="@Url.Action("../AuthServices/Logout", new { ReturnUrl = "/?Status=LoggedOut" })">Log out</a>.`

Below is my config file:

`  <kentor.authServices entityId

[2017-11-21 21:12] KevinMVTransit commented on #849
@netachar05 , Good luck!

[2017-11-22 03:07] mrfatgoat commented on #570
Ok, I chased down some answers to this.  I thought Microsoft's OpenId connect authentication handler would be a pretty good analogy for the AuthServices authentication handler.

Starting here in [OpenIdConnectExtensions](https://github.com/aspnet/Security/blob/rel/2.0.0/src/Microsoft.AspNetCore.Authentication.OpenIdConnect/OpenIdConnectExtensions.cs#L26), we see the handler class [OpenIdConnectHan

[2017-11-22 07:44] AndersAbel commented on #570
@mrfatgoat Thanks for the code digging. Case insensitive it is then.

This will technically be a breaking change, but I doubt someone has relied on the casing only to differ between different paths.

To fix this, all the four API modules need to be checked as well as the CommandFactory.

[2017-11-22 07:58] mrfatgoat commented on #570
@AndersAbel Sounds good.  Do you have bandwidth for this or shall I take a stab at it and PR?

[2017-11-22 08:02] AndersAbel commented on #570
@mrfatgoat I'm lagging behind with all non-paid work with the library, so help through a PR would be appreciated. Will take some time until I can review though - there's a PR backlog that I need to go through.

[2017-11-23 12:34] hoekj opened #853 "Incorrect serialization of the Assertion Consumer Service Url in the AuthnRequest"
When you use the Saml2AuthenticationRequest to create a AuthnRequest and call the ToXElement, the property AssertionConsumerServiceUrl is converted to a string using the ToString() method. This is incorrect, because the Uri.ToString() does a different type of encoding. Instead you should use the Uri.OriginalString to get a correct encoded string.

I'll submit a pullrequest to fix this.

[2017-11-23 12:40] hoekj commented on #853
I get a 403 when i try to push a new branch. How can I submit the code change?

[2017-11-23 13:18] AndersAbel commented on #853
@hoekj Make a fork to your own account, push to that fork and then create a PR.

[2017-11-23 21:45] AndersAbel commented on #427
I just love open source. I just ran into this issue and of course had no memory of this ever happening. Googling for the error message I ended up here, on an issue in my own project, with the solution clearly documented. Thanks @stevescc for taking the time to report back and providing the copy-paste-ready web.config additions.

[2017-11-24 14:20] Gillardo opened #855 "SPOptions.RedirectUrl not working - Always using `/Account/ExternalLogin?handler=Callback`"
Trying to use the returnPath property against spOptions as i do not want users to "register" but want to direct them to another piece of code which adds them to my database automatically.

Upon trying to run the sample AspNetCore application i samples, and setting my own SAML values, upon successful login my site is always redirecting to `/Account/ExternalLogin?handler=Callback`.  I am setting it

[2017-11-27 12:43] AndersAbel commented on #855
Yes, you are setting up something wrong.

This is designed to prefer a dynamically registered return url from the challenge. The returnurl in the configuration should only be used if there either is no return url in the challenge or if this is an idp initiated sign on.

You should change your application so that it includes AuthenticationProperties with the right returnUrl set when issuing the cha

[2017-11-27 13:13] Gillardo commented on #855
@AndersAbel so you have a property against spOptions that doesnt do anything? Can i have a basic example of what exactly you mean, because i dont see why this option exists if it doesnt do anything, or maybe i am supposed to set it somewhere else like you suggest.  Example would be helpful, as the AspNetCore2 sample doesnt show much at all

[2017-11-27 13:21] AndersAbel commented on #855
@Gillardo It does things. But for ASP.NET Core2, it's only if you run idp initiated sign on. The spOptions is common to the all the api modules, including the HttpModule where things work a little differently.

In the ASP.NET Core2 model the return url is passed as part of the challenge that triggers the sign on. If you use ASP.NET Identity that is hidden in the SignInManager.

[2017-11-27 13:29] Gillardo commented on #855
I do not have an "externalLogin" call on my controller and i do not use Identity....  Is this still possible??

[2017-11-27 13:31] AndersAbel commented on #855
How do you trigger the login sequence?

[2017-11-27 13:37] dongigi92 opened #857 ".NET Core 2 target support"
Hi to all,

i have a question about the future of the project.
Are there plans for supporting the .NET Core 2 target?

I read the recent posts in #195, in particular:

I'd like to implements the SAML2 SSO into my project but, at the moment, not exist an open source library for .NET Core 2 target.

Do you think to working on it?

Thanks,
dongigi

[2017-11-27 13:40] AndersAbel commented on #857
Yes, a .NET Core 2 target is on the way. It's currently in private beta for my paying customers.

[2017-11-27 13:40] #857 closed

[2017-11-27 13:45] dongigi92 commented on #857
There is a time target for the publication?

[2017-11-27 13:47] dongigi92 commented on #857
Is there a timeline for publishing?

[2017-11-27 14:19] Gillardo commented on #855
@AndersAbel it seems i do use something that is like `ExternalLogin`.  I am trying to move over to your software, but by first getting it working in the example.  My real application uses an angular2 client ui, not an MVC asp.net one.  I will try this as you have said

[2017-11-27 14:29] Gillardo commented on #855
Also, why you are here, when will you create a aspnetcore2 nugetspec file?  I need to create a nuget package for this and upload it to my own nuget server??

[2017-11-27 17:04] RobSiklos opened #858 "Logger is not called when checking AuthenticateRequestSigningBehavior and there is no signing certificate"
If `AuthenticateRequestSigningBehavior`  is set to `Always`, but there is no signing certificate, an exception is thrown: https://github.com/Sustainsys/Saml2/blob/76f63729e842889eb9e75b784f99dc2ae275b5b6/Kentor.AuthServices/IdentityProvider.cs#L315-L320

The problem is that this error is not written to the provided ILoggerAdapter. It means that such errors cannot be captured to the logs of the hos

[2017-11-27 17:47] RobSiklos commented on #858
Pull request: https://github.com/Sustainsys/Saml2/pull/859

[2017-11-30 04:41] sanattiwari opened #860 "Will SessionAuthenticationModule work in WebFarm scenario?"
SessionAuthenticationModule is used to establish the session after response comes from IdP.
This session data is stored in cookies, does it create any session object in server? will this work in WebFarm environment where-in request can go to any other server as well behind the Load Balancer?

Thanks!
Sanat

[2017-11-30 08:37] AndersAbel commented on #860
The SessionAuthenticationModule uses a cookie on the client for all the data of the session. It works in a web farm environment as long as you have synchronized the machine keys.

[2017-11-30 08:37] #860 closed

[2017-11-30 09:56] sanattiwari commented on #860
Hi Ander - SessionAuthenticationModule by default uses dataprotection APIs to protect the cookie which takes scope of current logged in user on that machine hence i think it will not work in web farm. For web farm we have to use machinekey data protection mechanism.

[2017-11-30 13:43] Gillardo commented on #855
@AndersAbel any news on that nuget please?

[2017-11-30 16:32] tscheurer opened #861 "Validating xml-embedded certificates"
While loading federation metadata, AuthServices can currently just validate the trust-chain of certificates added in SigningCertificates. Currently there is no possibility to validate the trust of the certificates embedded in the signed-xml.

According to msdn you need to extract the certificate manually and perform validation. I could  accomplish this with the following code snippet:

[code]
As l

[2017-11-30 17:30] Gillardo opened #862 "Dependent on IdentityModel 4.0.0??"
Trying to add to my asp.net core site, which i do not reference Identity as well (using tokens using openIddict-core which separates from identity) and find myself not being able to use this because you MUST reference it?

This seems to be happening if i set my Organization and setting the EntityId, which are all classes defined in IdentityModel.

Would it not be better to create abstract classes

[2017-12-01 09:00] AndersAbel commented on #862
The current asp.net core release requires a reference to System.IdentityModel. The new version for .NET Core does not reference it, so I'm working on it. It is not ready for public release yet, but it's available in a private beta for paying customers with a valid support contract.

[2017-12-01 09:00] #862 closed

[2017-12-01 09:06] Gillardo commented on #862
@AndersAbel do you have idea on when a "non identitymodel" would be released? i maybe interested in the private beta, depending on costs, if i can have access to non identityModel version.  Can you PM me details?

[2017-12-01 11:41] AndersAbel commented on #862
@Gillardo I can't find a publicly listed e-mail for you. Mail me at anders@sustainsys.com

[2017-12-01 11:45] AndersAbel commented on #861
The SAML2 spec is rather clear on that using the certificate format is just a matter of using a standard format for transferring the key information. The trust is not in that the certificates are signed by an external certificate authority. The trust is in that the certificates are (as part of the metadata) signed by the key of the federation.

It's even common to have non-valid certificates publi

[2017-12-01 13:52] pkochubey opened #863 "Signature didn't verify. Have the contents been tampered with?"
Any idea why it happen? (yes I looked on code.)

Through samltool.com all works. SAML->Encrypt(public key)->Base64 encrypt-> Base64 decrypt->Decrypt(private key)->SAML.

Through openssl I generated pfx, and attach it in configuration.

Config: https://gist.github.com/pkochubey/736f624ef2080c507c334fa1a972dd3b
SAML: https://gist.github.com/pkochubey/92724400f9659ac622ffd00117487904

[2017-12-01 14:50] keimpema opened #864 "How to redirect to identityserver 3 login screen after AuthnFailed response?"
I have got IdentityServer set up with Kentor.AuthServices.Owin succesfully. Users are authemticated correctly.

However I am having trouble handling AuthnFailed failed responses from the saml idp. I want to redirect the user back to the IdentityServerr login page with a custom error message (not the message received from the saml idp which is "access_denied").

For success responses we have the Ac

[2017-12-01 15:13] keimpema commented on #791
Found this after I created issue https://github.com/Sustainsys/Saml2/issues/864 . Looks like the same problem. Tried a work around using GetBinding and MessageUnbound notifications.

The proposed solution could work if we could change the redirect url I think.

@MartijnKooij Did you get this to work somehow? Looks like we are both trying to make IdentityServer work with DigiD. Would you like to sh

[2017-12-02 21:20] aaronlcope commented on #558
Until MSFT responds, is there anything we can do or you can do to allow and issuer's nameid-format of "entity" to ignore non-URI values. I know this is against the SAML spec, but a significant # of large US industry corporations have not caught up yet to the spec, where this was previously allowed before. MSFT is adapting, likely b/c of Oracle. Oracle has some web-based software that sets up SAML

[2017-12-04 05:48] #863 closed

[2017-12-04 07:30] tscheurer commented on #861
Our implementation is mostly used with the SWITCH edu-ID/AAI Federation. They do currently not provide the signing-key, besides of course it is included in the metadata. They instead provide their CA certificate, which they use to sign the signature certificate.

In this case it would be useful and I think it should be optional setting.
I can understand that this is just one of many possibilities

[2017-12-04 08:22] MartijnKooij commented on #791
@keimpema I did not yet have/take the time to work on a decent solution for this issue, nor to look at the suggested route by Anders.
We have currently have 2 projects connecting to DigiD, one of them had to keep on using the ASelect protocol. The other one, the one for which I posted this issue, was on a tight deadline. Because of that deadline the team members chose to implement a hacky hard-cod

[2017-12-04 12:40] AndersAbel commented on #861
@tscheurer I see the use case then. But then the certificate embedded in the metadata should be checked against that particular root certificate. Validating it against all trusted roots on the machine is not enough - I could sign the metadata with my certificate for sustainsys.com and it would validate against a known trusted root.

[2017-12-04 13:53] tscheurer commented on #861
@AndersAbel You are right, this is a good point. I would have to check it against the specific CA certificate, not just any trusted. Thx

[2017-12-05 17:29] saqibmushtaq commented on #530
Hi Rajesh, was this every resolved. I am also getting exactly the same behaviour as you described above. Any suggestion? Thanks.

[2017-12-06 09:28] raizarachi opened #865 "Issuer confusion in Saml2Response"
Hello,

I just found that in Saml2Response, the issuer is extracted from the Issuer xml element child of Response:
`Issuer = new EntityId(xmlElement["Issuer", Saml2Namespaces.Saml2Name].GetTrimmedTextIfNotNull());`

Looking at the specification (saml-core-2.0-os) from oasis, it appears that this element is optional (page 38, line 1566). On the other hand, the element Assertion has a required child

[2017-12-06 14:16] explunit commented on #865
You are correct, and this is a known issue (#477). I'll close this one so we keep discussion in one place. Linked in #477 is a PR that attempted to fix this, but wasn't quite ready for production use. If you have a better approach please submit a PR.

[2017-12-06 14:16] #865 closed

[2017-12-06 15:56] mattroot87 opened #866 "SLO with Okta"
Hello,

 I am trying to configure SP-initiated SLO with Okta.  I have configured a signing certificate on my end and I have generated a logout request that is signed.  Lastly, I am configuring in Okta to send the Logout Response to mySite/AuthServices/Logout.  I am getting an error when it tries to post the saml responseto this location.  I have a feeling I am not sending Okta to the right endpoin

[2017-12-06 15:58] AndersAbel commented on #866
What's the error message.

[2017-12-06 16:03] mattroot87 commented on #866
Received a LogoutResponse from http://www.okta.com/77777 that cannot be processed because it is not signed.

[UnsuccessfulSamlOperationException: Received a LogoutResponse from http://www.okta.com/77777 that cannot be processed because it is not signed.]
   Kentor.AuthServices.WebSso.LogoutCommand.VerifyMessageIsSigned(UnbindResult unbindResult, IOptions options) +953
   Kentor.AuthServices.WebSso

[2017-12-06 16:09] AndersAbel commented on #866
Can you include the query string/form data with the LogoutResponse?

[2017-12-07 02:42] shahrozkhan26 opened #867 "How to handle the SAML assertions ?"
Hi Anders,

Previously i have implemented an IDP to sent SAML IDP initiated Post Binding Requests to a service provider. Now i need to implement a Service provider so our partners can send an idp request to our service provider. I went through the documentation for implementing the service provider in mvc application. The document is very well written. However i was not able to find "how to handle

[2017-12-07 13:51] AndersAbel commented on #867
I don't understand what you are trying to do. And you should never be sending a password in a SAML assertion.

[2017-12-07 14:23] shahrozkhan26 commented on #867
Sorry if my question was not clear earlier. Actually i want to perform some operations on the SAML assertion parameters which IDP will send with "IDP inititated request" to the Service Provider. As a service provider, How will i get the saml assertion parameters in my service provider and perform some operations with it using (Kentor.AuthServices.MVC). In the sample MVC application you provided, i

[2017-12-07 15:26] mattroot87 commented on #866
My apologies for the delay.

POST https://mySite/APP/AuthServices/Logout HTTP/1.1
Host: myhost.com
User-Agent: Mozilla/5.0 (Windows NT 6.3; Win64; x64; rv:57.0) Gecko/20100101 Firefox/57.0
Accept: text/html,application/xhtml+xml,application/xml;q=0.9,*/*;q=0.8
Accept-Language: en-US,en;q=0.5
Accept-Encoding: gzip, deflate, br
Content-Length: 925
Content-Type: application/x-www-form-urlencoded
Upgr

[2017-12-08 09:24] AndersAbel commented on #867
To allow idp initiated requests you need to set `AllowUnsolicitedResponses=true`.

The assertion is converted to claims by the library, so check the generated claims identity, it should contain the information you are looking for.

[2017-12-08 13:40] keimpema commented on #864
Just a little follow-up... I got it to work by adding some crucial parameters to the redirec url in the MessageUnbound notification handler. To get to the needed data I add the HttpRequestData to the owin environment in the GetBinding handler. A little hacky but I think acceptable.
[code]
The actual error handling is done in a custom IViewService (IDS).
[code]
I did have to copy some of the intern

[2017-12-08 13:44] keimpema commented on #791
I made it work (sticked to the work-around). See https://github.com/Sustainsys/Saml2/issues/864.

[2017-12-09 04:05] stevewhite opened #868 "Setting SessionNotOnOrAfter in AuthnStatement"
We have a need to pass through a Session Timeout value when responding with a Saml2Response.  Currently there is a readonly property for SessionNotOnOrAfter that, potentially, can be set and passed through to the Saml2AuthenticationStatement via ClaimsIdentityExtensions, and a subsequent change to Saml2StatementExtension.  Is this something you would consider for a pull request?  Would you want to